//@TODO refactor

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

// sections

.section-map {
  background-color: $LightGrey6;
  border: 1px solid $LightGrey5;
  overflow: auto;
  padding: 15px 0 15px 80px;

  @media #{$x-wide} {
    padding: 15px 0 15px 40px;
    text-align: center;
  }

  @media #{$wide} {
    padding: 15px 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

  }

  span {

    &.glyphicon {
      float: left;
      margin-top: 45px;
      transform: translateY(-50%);

      @media #{$wide} {
        float: none;
      }

    }

    &.val {
      font-size: 3.6rem;
    }

    &.desc {
      font-weight: 300;
    }

  }

  .text-center {
    float: left;
    width: 112px;

    @media #{$wide} {
      display: block;
      float: none;
      margin: -28px auto 0;
    }

  }

}

section {
  border-bottom: 1px solid $LightGrey5;
  margin-top: 20px;
  position: relative;



  &.version-run-nav {
    border: 0;
    padding-left: 0;

    @media #{$mobile} {
      padding: 0;
    }

  }


}
