.elf-alert {
  .h1, .h2, .h3, .h4, .h5, .h6,
  h1, h2, h3, h4, h5, h6 {
    margin: 0px;
  }
}

.alert-sm {
  padding: 5px 10px;
  margin: 0;
}

.alert-inline {
  display: inline-block;
  width: auto;
}



.alert-muted {
  @include alert-variant($gray-lighter, darken($gray-lighter, 5%), $gray-light);
}