// Icons - icons in circles

.e-icon {
  // large
  text-align: center;

  border-radius: 50%;
  font-size: 1rem;
  //padding: 15px;
  width: $icon-circle-sm;
  height: $icon-circle-sm;
  line-height: $icon-circle-sm;

  &.lg {
    border-radius: 50%;
    font-size: 4rem;
    //padding: 15px;
    width: $icon-circle-lg;
    height: $icon-circle-lg;
    line-height: $icon-circle-lg;
  }
  // medium
  &.md {
    border-radius: 50%;
    font-size: 3rem;
    //padding: 15px;
    width: $icon-circle-md;
    height: $icon-circle-md;
    line-height: $icon-circle-md;
  }
  // small
  &.sm {
    border-radius: 50%;
    margin-left: 5px;
    font-size: 1.5rem;
    //padding: 5px;
    width: $icon-circle-sm;
    height: $icon-circle-sm;
    line-height: $icon-circle-sm;
  }

  // green
  &.success {
    background-color: $icon-success-bg;
    color: $icon-success-text;
  }
  // red
  &.danger {
    background-color: $icon-danger-bg;
    color: $icon-danger-text;
  }
  // orange
  &.warning {
    background-color: $icon-warning-bg;
    color: $icon-warning-text;
  }
  // blue
  &.info {
    background-color: $icon-info-bg;
    color: $icon-info-text;
  }
  // grey
  &.muted {
    background-color: lighten($text-muted, 45%);
    color: $text-muted;
  }
}
