<!--DO NOT REMOVE-->
{% pattern-lab-foot %}

<!-- libs.js -->
<script src="../../../js/libs.js"></script>
<!-- app.js -->
<script src="../../../js/app-dev.js"></script>


<!-- _patternlibrary.js -->
<script src="../../../patternlibrary.js"></script>


</body>
</html>