{{> organisms-header }}
{{> molecules-tabs }}
<div class="current-page">
    <div id="articleStats"></div>
    <div id="articles"></div>
    <a href="#" class="download-as">
        <span class="glyphicon glyphicon-download"></span>
        <span>Download as CSV</span>
    </a>
</div>