{{> organisms-header }}
{{> molecules-tabs("is-scheduled": true) }}
<div class="scheduled-page">
    <div class="row">
        <div class="col-xs-6"><div class="schedule-page__switcher"></div></div>
        <div class="col-xs-6"><div class="schedule-page__actions"></div></div>
    </div>
    <hr />
    <div class="schedule-page__content"></div>
</div>