{{> organisms-section-map }}
<div id="articles">
    {{> organisms-error}}
    {{> organisms-in-progress}}
    {{> organisms-user-input-required}}
    {{> organisms-scheduled}}
</div>

<a href="#" class="download-as">
    <span class="fa fa-download"></span>
    <span>Download as CSV</span>
</a>
