{{> organisms-section-map }}
<!--{{> organisms-error }}-->
<!--{{> organisms-in-progress }}-->
<!--{{> organisms-user-input-required }}-->
<!--{{> molecules-modal }}-->
<!--{{> organisms-scheduled }}-->

<div id="articles"></div>

<a href="#" class="download-as">
    <span class="glyphicon glyphicon-download"></span>
    <span>Download as CSV</span>
</a>
