{{> organisms-article-detail }}
<section class="article-version-map {{article-version-map.class}}">
	{{> organisms-article-version-map }}
</section>
<section class="article-version-history {{article-version-history.class}}">
	{{> organisms-article-version-history }}
</section>