{{> organisms-article-detail }}
<!--{{article-version-map.class}}-->
<section class="article-version-map col-sm-4 col-md-3">
	<!--{{> organisms-article-version-map }}-->
</section>
<!--{{article-version-history.class}}-->
<section class="article-version-history col-sm-8 col-md-8 col-md-offset-1">
	<!--{{> organisms-article-version-history }}-->
</section>