<div id="article">
    <div class="row">
        <div class="col-md-6">
            <p><span class="text-muted">Scheduled for <em><strong>April 3, 2016 12:00pm</strong></em></span></p>
        </div>
        <div class="col-md-6 text-right">
            <a href="http://54.84.81.117/content/1/e00353v1" target="_blank" class="btn btn-default">
                <span class="fa fa-eye"></span>
                Preview
            </a>
        <span class="article-detail-actions">
            <button class="btn btn-default schedule" id="schedule-amend" data-toggle="modal"
                    data-target="#schedule-modal" data-article-id="00353" data-title="Re-schedule Article">
                <span class="fa fa-calendar"></span>
                Re-Schedule
            </button>
            <button class="btn btn-default schedule" id="schedule-cancel" data-toggle="modal"
                    data-target="#schedule-modal" data-article-id="00353" data-title="Cancel Schedule">
                <span class="fa fa-calendar-minus-o"></span>
                Cancel Schedule
            </button>
        </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{> molecules-version-run-nav }}
        </div>
        <div class="col-md-9">
            {{> organisms-article-detail }}
            {{> molecules-event-timeline }}

        </div>
    </div>
</div>
