{{> article-schedule-modal}}
<p class="text-right">
    <button class="btn btn-default schedule" id="future-schedule" data-toggle="modal" data-target="#schedule-modal" data-title="Add Scheduled Article">
        <span class="fa fa-clock-o"></span>
        Add Scheduled Article
    </button>
</p>