<div id="calendar"></div>
<br/>
<p>
    <span class="fc-event" style="background-color:#cde1f1;border-color:#cde1f1;color:#111;display:inline-block;"><strong>13:40 pm</strong> 10.7554/eLife.09672</span> <br>
    <strong>Advanced Article</strong> <br> Articles which have been scheduled but which are not yet in eLife Continuum system.
</p>
<br>
<p>
    <span class="fc-event" style="background-color:#f1f1f1;border-color:#f1f1f1;color:#111;display:inline-block;"><strong>14:17 pm</strong> 09672</span> <br>
    <strong>Article</strong> <br> Scheduled Articles which are in the eLife Continuum system.
</p>