<div class="btn-group">
    <button type="button" class="btn btn-default schedule-page-switch" data-switch="list"><span
            class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List
    </button>
    <button type="button" class="btn btn-default schedule-page-switch" data-switch="calendar"><span
            class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendar
    </button>
</div>