<section class="scheduled-list sticky" id="scheduled-list">
    <table class="article-snapshot-list">
        <tbody>
        {{#each scheduled.articles}}
            {{> scheduled-article-item }}
        {{/each}}
        </tbody>
    </table>
</section>