<div id="calendar"></div>
<br/>
<p>
    <span class="fc-event" style="background-color:#cde1f1;border-color:#cde1f1;color:#111;display:inline-block;"><strong>3:40pm</strong> 09672 (Adv.)</span> <br>
    <strong>Advance Article</strong> <br> Articles which have been scheduled but which are not yet in eLife Continuum system.
</p>
<br>
<p>
    <span class="fc-event" style="background-color:#f1f1f1;border-color:#f1f1f1;color:#111;display:inline-block;"><strong>4:17pm</strong> 09672</span> <br>
    <strong>Article</strong> <br> Scheduled Articles which are in the eLife Continuum system.
</p>