<table class="article-snapshot-list">
    <caption class="sticky-header">
        <span class="glyphicon e-icon lg info glyphicon-cog  pull-left"></span>
        <h4>In Progress
            <small>(2 Articles)</small>
        </h4>
    </caption>
    <tbody>
    <tr data-article-title="10.7554/elife.00558" data-article-id="00286" data-article-version="2"
        data-article-run="def">
        <td class="column-1">
            <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1" class="hidden-xs">
                <span class="glyphicon glyphicon-file vor"></span>
            </a>
            <h6>
                <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1">10.7554/elife.00558</a>
            </h6>
            <p>
                <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1">This is the v2
                    title</a>
            </p>
        </td>
        <td class="column-2">
            <dl>
                <dt>
                    <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1"><i>Version:</i></a>
                </dt>
                <dd>
                    <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1">2</a>
                </dd>
                <dt>
                    <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1"><i>Publication
                        date:</i></a>
                </dt>
                <dd>
                    <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1">1449832105</a>
                </dd>
                <dt>
                    <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1"><i>Corresponding
                        authors:</i></a>
                </dt>
                <dd>
                    <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1">These are the v2
                        authors</a>
                </dd>
            </dl>
        </td>
        <td class="column-3">
            <p>
                <b>
                    <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1">CONVERT IMAGES</a>
                    <br>
                    <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00286/2/1">END</a>
                </b>
            </p>
        </td>

    </tr>
    <tr data-article-title="" data-article-id="00284" data-article-version="2" data-article-run="">
        <td class="column-1">
            <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00284/2/1" class="hidden-xs">
                <span class="glyphicon glyphicon-file no-article-status-type"></span>
            </a>
            <h6>
                <a href="/patterns/04-pages-01-detail/04-pages-01-detail.html?/article/00284/2/1">Not yet available
                    (00284)</a>
            </h6>
        </td>
        <td class="column-2">
            <dl>
            </dl>
        </td>
        <td class="column-3">
            <p>
                <b>
                </b>
            </p>
        </td>

    </tr>
    </tbody>
</table>