<ol class="article-snapshot-list">
  <li>
    <a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file poa"></span>
	    <p>
	      <b>10.7554/eLife.07836</b><br>
	      Lipid-mediated regulation of SKN-1/Nrf in response to germ cell absence
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      VOR.2.1<br>
	      Short Report<br>
	      25/04/2015<br>
	      Fischer U, Schäuble N, Schütz S, Altvater M, Chang Y, Boulos Faza M, Panse VG
	    </p>
	  </div>
	  <div class="column-3">
	    <p><b>STATUS MESSAGE<br>XX/XX/20XX 00:00XX</b></b></p>
	  </div>
	</a>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file vor"></span>
	    <p>
	      <b>10.7554/eLife.07836</b><br>
	      Lipid-mediated regulation of SKN-1/Nrf in response to germ cell absence
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      VOR.2.1<br>
	      Short Report<br>
	      25/04/2015<br>
	      Fischer U, Schäuble N, Schütz S, Altvater M, Chang Y, Boulos Faza M, Panse VG
	    </p>
	  </div>
	  <div class="column-3">
	    <p><b>STATUS MESSAGE<br>XX/XX/20XX 00:00XX</b></b></p>
	  </div>
	</a>
  </li>
</ol>