<table class="article-snapshot-list">
	<caption>
		<span class="glyphicon glyphicon-cog mod pull-left"></span>
		<h4>In Progress <small>(2 Articles)</small></h4>
	</caption>
	<tr>
		<td class="column-1">
			<a href="#">
				<span class="glyphicon glyphicon-file poa"></span>
			</a>
			<h6>
				<a href="#">10.7554/eLife.05563</a>
			</h6>
			<p>
				<a href="#">Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes</a>
			</p>
		</td>
		<td class="column-2">
		    <dl>
		      <dt><a href="#"><i>Version:</i></a></dt>
		      <dd><a href="#">POA.2.2</a></dd>
		      <dt><a href="#"><i>Article type:</i></a></dt>
		      <dd><a href="#">Research Article</a></dd>
		      <dt><a href="#"><i>Publication date:</i></a></dt>
		      <dd><a href="#">28/04/2015</a></dd>
		      <dt><a href="#"><i>Corresponding authors:</i></a></dt>
		      <dd><a href="#">Ian T Baldwin, Max Planck, John Anderson, Thomas Peel</a></dd>
		    </dl>
		</td>
		<td class="column-3">
			<a href="#"><b>STATUS MESSAGE</b></a>
		</td>
	</tr>
	<tr>
		<td class="column-1">
			<a href="#">
				<span class="glyphicon glyphicon-file vor"></span>
			</a>
			<h6>
				<a href="#">10.7554/eLife.05563</a>
			</h6>
			<p>
				<a href="#">Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes</a>
			</p>
		</td>
		<td class="column-2">
		    <dl>
		      <dt><a href="#"><i>Version:</i></a></dt>
		      <dd><a href="#">VOR.2.2</a></dd>
		      <dt><a href="#"><i>Article type:</i></a></dt>
		      <dd><a href="#">Research Article</a></dd>
		      <dt><a href="#"><i>Publication date:</i></a></dt>
		      <dd><a href="#">28/04/2015</a></dd>
		      <dt><a href="#"><i>Corresponding authors:</i></a></dt>
		      <dd><a href="#">Ian T Baldwin, Max Planck, John Anderson, Thomas Peel</a></dd>
		    </dl>
		</td>
		<td class="column-3">
			<a href="#"><b>STATUS MESSAGE</b></a>
		</td>
	</tr>
	<tr>
		<td class="column-1">
			<a href="#">
				<span class="glyphicon glyphicon-file poa"></span>
			</a>
			<h6>
				<a href="#">10.7554/eLife.05563</a>
			</h6>
			<p>
				<a href="#">Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes</a>
			</p>
		</td>
		<td class="column-2">
		    <dl>
		      <dt><a href="#"><i>Version:</i></a></dt>
		      <dd><a href="#">POA.2.2</a></dd>
		      <dt><a href="#"><i>Article type:</i></a></dt>
		      <dd><a href="#">Research Article</a></dd>
		      <dt><a href="#"><i>Publication date:</i></a></dt>
		      <dd><a href="#">28/04/2015</a></dd>
		      <dt><a href="#"><i>Corresponding authors:</i></a></dt>
		      <dd><a href="#">Ian T Baldwin, Max Planck, John Anderson, Thomas Peel</a></dd>
		    </dl>
		</td>
		<td class="column-3">
			<a href="#"><b>STATUS MESSAGE</b></a>
		</td>
	</tr>
</table>