<table class="article-snapshot-list action">
	<caption>
		<span class="glyphicon glyphicon-hand-down mod pull-left"></span>
		<h4>User Input Required <small>(5 Articles)</small><br>(Ready to Publish)</h4>
	</caption>
  	<tr>
		<td class="column-1">
			<a href="#" class="hidden-xs">
				<span class="glyphicon glyphicon-file poa"></span>
			</a>
			<h6>
				<a href="#" class="article-id">10.7554/eLife.04640</a>
			</h6>
			<p>
				<a href="#">Perturbation biology nominates upstream-downstream drug combinations in RAF inhibitor resistant melanoma cells</a>
			</p>
		</td>
		<td class="column-2">
			<dl>
		      <dt><a href="#"><i>Version:</i></a></dt>
		      <dd><a href="#" class="article-version">1</a></dd>
		      <dt><a href="#"><i>Article type:</i></a></dt>
		      <dd><a href="#">Research Article</a></dd>
		      <dt><a href="#"><i>Publication date:</i></a></dt>
		      <dd><a href="#">28/04/2015</a></dd>
		      <dt><a href="#"><i>Corresponding authors:</i></a></dt>
		      <dd><a href="#">Ian T Baldwin, Max Planck, John Anderson, Thomas Peel</a></dd>
		    </dl>
		</td>
		<td class="column-3">
		    <button class="btn btn-default">
		      <span class="glyphicon glyphicon-eye-open"></span> Preview
		    </button>
		    <button class="btn btn-default" id="publish" data-toggle="modal" data-target="#publish-modal" type="button">
		      <span class="glyphicon glyphicon-globe"></span> Publish Now
		    </button>
		    <div class="checkbox">
		      <label>
		        <input type="checkbox"> Batch Publishing
		      </label>
		    </div>
		</td>
  	</tr>
	<tr>
		<td class="column-1">
			<a href="#" class="hidden-xs">
				<span class="glyphicon glyphicon-file vor"></span>
			</a>
			<h6>
				<a href="#" class="article-id">10.7554/eLife.07836</a>
			</h6>
			<p>
				<a href="#">Perturbation biology nominates upstream-downstream drug combinations in RAF inhibitor resistant melanoma cells</a>
			</p>
		</td>
		<td class="column-2">
			<dl>
		      <dt><a href="#"><i>Version:</i></a></dt>
		      <dd><a href="#" class="article-version">2</a></dd>
		      <dt><a href="#"><i>Article type:</i></a></dt>
		      <dd><a href="#">Research Article</a></dd>
		      <dt><a href="#"><i>Publication date:</i></a></dt>
		      <dd><a href="#">28/04/2015</a></dd>
		      <dt><a href="#"><i>Corresponding authors:</i></a></dt>
		      <dd><a href="#">Ian T Baldwin, Max Planck, John Anderson, Thomas Peel</a></dd>
		    </dl>
		</td>
		<td class="column-3">
		    <button class="btn btn-default">
		      <span class="glyphicon glyphicon-eye-open"></span> Preview
		    </button>
		    <button class="btn btn-default" id="publish" data-toggle="modal" data-target="#publish-modal" type="button">
		      <span class="glyphicon glyphicon-globe"></span> Publish Now
		    </button>
		    <div class="checkbox">
		      <label>
		        <input type="checkbox"> Batch Publishing
		      </label>
		    </div>
		</td>
  	</tr>
	<tr>
		<td class="column-1">
			<a href="#" class="hidden-xs">
				<span class="glyphicon glyphicon-file poa"></span>
			</a>
			<h6>
				<a href="#" class="article-id">10.7554/eLife.07837</a>
			</h6>
			<p>
				<a href="#">Perturbation biology nominates upstream-downstream drug combinations in RAF inhibitor resistant melanoma cells</a>
			</p>
		</td>
		<td class="column-2">
			<dl>
		      <dt><a href="#"><i>Version:</i></a></dt>
		      <dd><a href="#" class="article-version">3</a></dd>
		      <dt><a href="#"><i>Article type:</i></a></dt>
		      <dd><a href="#">Research Article</a></dd>
		      <dt><a href="#"><i>Publication date:</i></a></dt>
		      <dd><a href="#">28/04/2015</a></dd>
		      <dt><a href="#"><i>Corresponding authors:</i></a></dt>
		      <dd><a href="#">Ian T Baldwin, Max Planck, John Anderson, Thomas Peel</a></dd>
		    </dl>
		</td>
		<td class="column-3">
		    <button class="btn btn-default">
		      <span class="glyphicon glyphicon-eye-open"></span> Preview
		    </button>
		    <button class="btn btn-default" id="publish" data-toggle="modal" data-target="#publish-modal" type="button">
		      <span class="glyphicon glyphicon-globe"></span> Publish Now
		    </button>
		    <div class="checkbox">
		      <label>
		        <input type="checkbox"> Batch Publishing
		      </label>
		    </div>
		</td>
  	</tr>
	<tr>
		<td class="column-1">
			<a href="#" class="hidden-xs">
				<span class="glyphicon glyphicon-file vor"></span>
			</a>
			<h6>
				<a href="#" class="article-id">10.7554/eLife.07456</a>
			</h6>
			<p>
				<a href="#">Perturbation biology nominates upstream-downstream drug combinations in RAF inhibitor resistant melanoma cells</a>
			</p>
		</td>
		<td class="column-2">
			<dl>
		      <dt><a href="#"><i>Version:</i></a></dt>
		      <dd><a href="#" class="article-version">4</a></dd>
		      <dt><a href="#"><i>Article type:</i></a></dt>
		      <dd><a href="#">Research Article</a></dd>
		      <dt><a href="#"><i>Publication date:</i></a></dt>
		      <dd><a href="#">28/04/2015</a></dd>
		      <dt><a href="#"><i>Corresponding authors:</i></a></dt>
		      <dd><a href="#">Ian T Baldwin, Max Planck, John Anderson, Thomas Peel</a></dd>
		    </dl>
		</td>
		<td class="column-3">
		    <button class="btn btn-default">
		      <span class="glyphicon glyphicon-eye-open"></span> Preview
		    </button>
		    <button class="btn btn-default" id="publish" data-toggle="modal" data-target="#publish-modal" type="button">
		      <span class="glyphicon glyphicon-globe"></span> Publish Now
		    </button>
		    <div class="checkbox">
		      <label>
		        <input type="checkbox"> Batch Publishing
		      </label>
		    </div>
		</td>
  	</tr>
  	<tr>
		<td class="column-1">
			<a href="#" class="hidden-xs">
				<span class="glyphicon glyphicon-file poa"></span>
			</a>
			<h6>
				<a href="#" class="article-id">10.7554/eLife.04440</a>
			</h6>
			<p>
				<a href="#">Perturbation biology nominates upstream-downstream drug combinations in RAF inhibitor resistant melanoma cells</a>
			</p>
		</td>
		<td class="column-2">
			<dl>
		      <dt><a href="#"><i>Version:</i></a></dt>
		      <dd><a href="#" class="article-version">5</a></dd>
		      <dt><a href="#"><i>Article type:</i></a></dt>
		      <dd><a href="#">Research Article</a></dd>
		      <dt><a href="#"><i>Publication date:</i></a></dt>
		      <dd><a href="#">28/04/2015</a></dd>
		      <dt><a href="#"><i>Corresponding authors:</i></a></dt>
		      <dd><a href="#">Ian T Baldwin, Max Planck, John Anderson, Thomas Peel</a></dd>
		    </dl>
		</td>
		<td class="column-3">
		    <button class="btn btn-default">
		      <span class="glyphicon glyphicon-eye-open"></span> Preview
		    </button>
		    <button class="btn btn-default" id="publish" data-toggle="modal" data-target="#publish-modal" type="button">
		      <span class="glyphicon glyphicon-globe"></span> Publish Now
		    </button>
		    <div class="checkbox">
		      <label>
		        <input type="checkbox"> Batch Publishing
		      </label>
		    </div>
		</td>
  	</tr>
</table>