<ol class="article-snapshot-action-lis">
  <li>
    <a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file poa"></span>
	    <p>
	      <b>10.7554/eLife.04640</b><br>
	      Perturbation biology nominates upstream-downstream drug combinations in RAF inhibitor resistant melanoma cells
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	  <div class="column-3 hide">
	  </div>
	</a>
	<div class="column-3">
	  <p>
	    <a href="#" class="btn btn-default">
	      <span class="glyphicon glyphicon-eye-open"></span>
	      Preview
	    </a>
	    <a href="#" class="btn btn-default">
	      <span class="glyphicon glyphicon-globe"></span>
	      Publish Now
	    </a>
	    <span class="checkbox">
	      <label>
	        <input type="checkbox"> Batch Publishing
	      </label>
	    </span>
	  </p>
	</div>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file vor"></span>
	    <p>
	      <b>10.7554/eLife.04640</b><br>
	      Perturbation biology nominates upstream-downstream drug combinations in RAF inhibitor resistant melanoma cells
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	  <div class="column-3 hide">
	  </div>
	</a>
	<div class="column-3">
	  <p>
	    <a href="#" class="btn btn-default">
	      <span class="glyphicon glyphicon-eye-open"></span>
	      Preview
	    </a>
	    <a href="#" class="btn btn-default">
	      <span class="glyphicon glyphicon-globe"></span>
	      Publish Now
	    </a>
	    <span class="checkbox">
	      <label>
	        <input type="checkbox"> Batch Publishing
	      </label>
	    </span>
	  </p>
	</div>
  </li>
</ol>