<ol class="article-snapshot-list archive">
  <li>
    <a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file poa"></span>
	    <p>
	      <b>10.7554/eLife.05563</b><br>
	      Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	</a>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file vor"></span>
	    <p>
	      <b>10.7554/eLife.05563</b><br>
	      Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	</a>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file poa"></span>
	    <p>
	      <b>10.7554/eLife.05563</b><br>
	      Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	</a>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file poa"></span>
	    <p>
	      <b>10.7554/eLife.05563</b><br>
	      Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	</a>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file poa"></span>
	    <p>
	      <b>10.7554/eLife.05563</b><br>
	      Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	</a>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file vor"></span>
	    <p>
	      <b>10.7554/eLife.05563</b><br>
	      Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	</a>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file poa"></span>
	    <p>
	      <b>10.7554/eLife.05563</b><br>
	      Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	</a>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file poa"></span>
	    <p>
	      <b>10.7554/eLife.05563</b><br>
	      Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	</a>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file poa"></span>
	    <p>
	      <b>10.7554/eLife.05563</b><br>
	      Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	</a>
  </li>
  <li>
  	<a href="#">
	  <div class="column-1">
	    <span class="glyphicon glyphicon-file poa"></span>
	    <p>
	      <b>10.7554/eLife.05563</b><br>
	      Developmental alterations in centrosome integrity contribute to the post-mitotic state of mammalian cardiomyocytes
	    </p>
	  </div>
	  <div class="column-2">
	    <p>
	      <i>Version:</i><br>
	      <i>Article type:</i><br>
	      <i>Publication date:</i><br>
	      <i>Corresponding authors:</i>
	    </p>
	    <p>
	      POA.2.2<br>
	      Research Article<br>
	      28/04/2015<br>
	      Ian T Baldwin, Max Planck, John Anderson, Thomas Peel
	    </p>
	  </div>
	</a>
  </li>
</ol>