<ol class="article-version-map-list">
	<li class="version">
		Version 1
	</li>
	<li class="run">
		<a href="#">
			<span>Run 1</span>
			<span>24/04/2015</span>
			<span>14:00</span>
		</a>
	</li>
	<li class="run">
		<a href="#">
			<span>Run 2</span>
			<span>24/04/2015</span>
			<span>14:34</span>
		</a>
	</li>
	<li class="version">
		Version 2
	</li>
	<li class="run">
		<a href="#">
			<span>Run 1</span>
			<span>27/04/2015</span>
			<span>10:15</span>
		</a>
	</li>
	<li class="run">
		<a href="#">
			<span>Run 2</span>
			<span>27/04/2015</span>
			<span>13:05</span>
		</a>
	</li>
	<li class="run">
		<a href="#">
			<span>Run 3</span>
		</a>
	</li>
</ol>