<ol class="article-version-history-list">
	<li>
		<div class="column-1">
			<span class="glyphicon glyphicon-ok pull-left"></span>
		    <span>Version Determined</span>
		</div>
		<div class="column-2">
			<p>
				<i>Timestamp:</i>
				<span>28/04/2015&nbsp;&nbsp;&nbsp;&nbsp;12:34</span>
			</p>
			<p>
				<i>Message:</i>
				<span>We have determined the version after checking with John</span>
			</p>
		</div>
	</li>
	<li>
		<div class="column-1">
			<span class="glyphicon glyphicon-ok pull-left"></span>
		    <span>JSON Created</span>
		</div>
		<div class="column-2">
			<p>
				<i>Timestamp:</i>
				<span>28/04/2015&nbsp;&nbsp;&nbsp;&nbsp;13:45</span>
			</p>
			<p>
				<i>Message:</i>
				<span>JSON needed manual fix several times</span>
			</p>
		</div>
	</li>
	<li>
		<div class="column-1">
			<span class="glyphicon glyphicon-ok pull-left"></span>
		    <span>Images Converted</span>
		</div>
		<div class="column-2">
			<p>
				<i>Timestamp:</i>
				<span>28/04/2015&nbsp;&nbsp;&nbsp;&nbsp;14:34</span>
			</p>
			<p>
				<i>Message:</i>
				<span>7 images were resized</span>
			</p>
		</div>
	</li>
	<li>
		<div class="column-1">
			<span class="glyphicon glyphicon-ok pull-left"></span>
		    <span>Publication Date Set</span>
		</div>
		<div class="column-2">
			<p>
				<i>Timestamp:</i>
				<span>28/04/2015&nbsp;&nbsp;&nbsp;&nbsp;14:44</span>
			</p>
		</div>
	</li>
	<li>
		<div class="column-1">
			<span class="glyphicon glyphicon-ok pull-left"></span>
		    <span>Date Stamped<br>- from XML<br>- from System</span>
		</div>
		<div class="column-2">
			<p>
				<i>Timestamp:</i>
				<span>28/04/2015&nbsp;&nbsp;&nbsp;&nbsp;15:00</span>
			</p>
		</div>
	</li>
	<li>
		<div class="column-1">
			<span class="glyphicon glyphicon-ok pull-left"></span>
		    <span>Article Submitted</span>
		</div>
		<div class="column-2">
			<p>
				<i>Timestamp:</i>
				<span>28/04/2015&nbsp;&nbsp;&nbsp;&nbsp;15:00</span>
			</p>
			<p>
				<i>Message:</i>
				<span>Another message here</span>
			</p>
		</div>
	</li>
	<li>
		<div class="column-1">
			<span class="glyphicon glyphicon-ok pull-left"></span>
		    <span>Article Ready to Publish</span>
		</div>
		<div class="column-2">
			<p>
				<i>Timestamp:</i>
				<span>28/04/2015&nbsp;&nbsp;&nbsp;&nbsp;16:16</span>
			</p>
			<p>
				<i>Message:</i>
				<span>All elements available now</span>
			</p>
		</div>
	</li>
	<li>
		<div class="column-1">
			<span class="glyphicon glyphicon-ok pull-left"></span>
		    <span>Article Published</span>
		</div>
		<div class="column-2">
			<p>
				<i>Timestamp:</i>
				<span>28/04/2015&nbsp;&nbsp;&nbsp;&nbsp;16:34</span>
			</p>
		</div>
	</li>
	<li>
		<div class="column-1">
			<span class="glyphicon glyphicon-ok pull-left"></span>
		    <span>Article Archived</span>
		</div>
		<div class="column-2">
			<p>
				<i>Timestamp:</i>
				<span>28/04/2015&nbsp;&nbsp;&nbsp;&nbsp;17:00</span>
			</p>
			<p>
				<i>Message:</i>
				<span>Another message here</span>
			</p>
		</div>
	</li>
	<li>
		<div class="column-1">
			<span class="glyphicon glyphicon-ok pull-left"></span>
		    <span>Downstream Process Initiated</span>
		</div>
		<div class="column-2">
			<p>
				<i>Timestamp:</i>
				<span>28/04/2015&nbsp;&nbsp;&nbsp;&nbsp;17:15</span>
			</p>
			<p>
				<i>Message:</i>
				<span>Another message here</span>
			</p>
		</div>
	</li>
</ol>