
    <ol class="article-version-history-list">
        <li>
            <div class="column-1 end">
                <span class="fa e-icon lg success fa-check  pull-left" title="end"></span>
                <span>Expand Article</span>
            </div>
            <div class="column-2">
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">27/01/2016</dd>
                    <dd class="divide">19:12:09</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Run 1 Finished expansion of article 00353 for version 1 run 1345f644-67ba-479d-8e54-65e7803c79c1 into 00353.1/1345f644-67ba-479d-8e54-65e7803c79c1</dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="column-1 end">
                <span class="fa e-icon lg success fa-check  pull-left" title="end"></span>
                <span>Apply Version Number</span>
            </div>
            <div class="column-2">
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">27/01/2016</dd>
                    <dd class="divide">19:12:10</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Finished applying version number to article 00353 for version 1 run 1345f644-67ba-479d-8e54-65e7803c79c1</dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="column-1 end">
                <span class="fa e-icon lg success fa-check  pull-left" title="end"></span>
                <span>Convert JATS</span>
            </div>
            <div class="column-2">
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">27/01/2016</dd>
                    <dd class="divide">19:12:13</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>XML converted to EIF for article 00353 to 00353.1/1345f644-67ba-479d-8e54-65e7803c79c1/elife-00353-v1.json</dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="column-1 end">
                <span class="fa e-icon lg success fa-check  pull-left" title="end"></span>
                <span>Set Publication Status</span>
            </div>
            <div class="column-2">
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">27/01/2016</dd>
                    <dd class="divide">19:12:15</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Ending setting of publish status for 00353</dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="column-1 end">
                <span class="fa e-icon lg success fa-check  pull-left" title="end"></span>
                <span>Resize Images</span>
            </div>
            <div class="column-2">
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">27/01/2016</dd>
                    <dd class="divide">19:12:22</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Finished converting images for  003533 images processed </dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="column-1 end">
                <span class="fa e-icon lg success fa-check  pull-left" title="end"></span>
                <span>Deposit assets</span>
            </div>
            <div class="column-2">
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">27/01/2016</dd>
                    <dd class="divide">19:12:25</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Deposited assets for article 00353</dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="column-1 end">
                <span class="fa e-icon lg success fa-check  pull-left" title="end"></span>
                <span>Post EIF</span>
            </div>
            <div class="column-2">
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">27/01/2016</dd>
                    <dd class="divide">19:12:28</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Finished submitting EIF for article  00353 status was 200</dd>
                </dl>
            </div>
        </li>
    </ol>