<section class="article-detail">
    <table class="snapshot">
        <tr>
            <td class="column-1">
                <span class="glyphicon glyphicon-file poa"></span>
                <h6>10.7554/eLife.04640</h6>
                <p>Perturbation biology nominates upstream-downstream drug combinations in RAF inhibitor resistant melanoma cells</p>
            </td>
            <td class="column-2">
                <dl>
                    <dt><i>Version:</i></dt>
                    <dd><strong>2</strong></dd>
                    <dt><i>Run:</i></dt>
                    <dd><strong>3</strong></dd>
                </dl>
            </td>
            <td class="column-3">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Preview
                </button>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-globe"></span>
                    Publish Now
                </button>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-calendar"></span>
                    Schedule
                </button>
                <button class="btn btn-default hide">
                    <span class="glyphicon glyphicon-calendar"></span>
                    Re-Schedule
                </button>
                <button class="btn btn-default hide">
                    <span class="glyphicon glyphicon-calendar"></span>
                    Cancel Schedule
                </button>
            </td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <td class="column-1">
                <dl>
                    <dt><i>Article type:</i></dt>
                    <dd>Research Article</dd>
                    <dt><i>Publication date:</i></dt>
                    <dd>28/04/2015</dd>
                    <dt><i>Corresponding authors:</i></dt>
                    <dd>Ian T Baldwin, Max Planck, John Anderson, Thomas Peel, Allvar Gullstrand, Alexis Carrel, Charles Richet, Robert</dd>
                    <dt><i>Authors:</i></dt>
                    <dd>Bárány, Jules Bordet, Schack August Steenberg Krogh, Archibald Vivian Hill, Otto Fritz Meyerhof, Sir Frederick, Grant Banting, John James Rickard Macleod</dd>
                </dl>
            </td>
            <td class="column-2">
                <strong class="pull-left">Destinations</strong>
            </td>
            <td class="column-3">
                <dl>
                    <dt><i>eLife:</i></dt>
                    <dd><a href="#">10.7554/eLife.04640</a></dd>
                    <dt><i>PMC:</i></dt>
                    <dd>Not yet available</dd>
                    <dt><i>PubMed:</i></dt>
                    <dd><a href="#">00333455</a></dd>
                    <dt><i>PubRouter:</i></dt>
                    <dd>Delivered</dd>
                    <dt><i>Cengage:</i></dt>
                    <dd><a href="#">21940</a></dd>
                    <dt><i>Google Scholar:</i></dt>
                    <dd>Registered</dd>
                </dl>
            </td>
        </tr>
    </table>
</section>