<ol class="article-version-history-list">
    <li>
        <div class="column-1">
            <span class="glyphicon glyphicon-ok glyphicon-ok--mod pull-left"></span>
            <span>Version Determined</span>
        </div>
        <div class="column-2">
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">28/04/2015</dd>
                <dd class="divide">12:34</dd>
            </dl>
            <dl>
                <dt><i>Message:</i></dt>
                <dd>We have determined the version after checking with John</dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="column-1">
            <span class="glyphicon glyphicon-ok glyphicon-ok--mod pull-left"></span>
            <span>JSON Created</span>
        </div>
        <div class="column-2">
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">28/04/2015</dd>
                <dd class="divide">13:45</dd>
            </dl>
            <dl>
                <dt><i>Message:</i></dt>
                <dd>JSON needed manual fix several times</dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="column-1">
            <span class="glyphicon glyphicon-ok glyphicon-ok--mod pull-left"></span>
            <span>Images Converted</span>
        </div>
        <div class="column-2">
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">28/04/2015</dd>
                <dd class="divide">14:34</dd>
            </dl>
            <dl>
                <dt><i>Message:</i></dt>
                <dd>7 images were resized</dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="column-1">
            <span class="glyphicon glyphicon-ok glyphicon-ok--mod pull-left"></span>
            <span>Publication Date Set</span>
        </div>
        <div class="column-2">
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">28/04/2015</dd>
                <dd class="divide">14:44</dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="column-1">
            <span class="glyphicon glyphicon-ok glyphicon-ok--mod pull-left"></span>
            <span>Date Stamped<br>- from XML<br>- from System</span>
        </div>
        <div class="column-2">
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">28/04/2015</dd>
                <dd class="divide">15:00</dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="column-1">
            <span class="glyphicon glyphicon-ok glyphicon-ok--mod pull-left"></span>
            <span>Article Submitted</span>
        </div>
        <div class="column-2">
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">28/04/2015</dd>
                <dd class="divide">15:00</dd>
            </dl>
            <dl>
                <dt><i>Message:</i></dt>
                <dd>Another message here</dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="column-1">
            <span class="glyphicon glyphicon-ok glyphicon-ok--mod pull-left"></span>
            <span>Article Ready to Publish</span>
        </div>
        <div class="column-2">
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">28/04/2015</dd>
                <dd class="divide">16:16</dd>
            </dl>
            <dl>
                <dt><i>Message:</i></dt>
                <dd>All elements available now</dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="column-1">
            <span class="glyphicon glyphicon-ok glyphicon-ok--mod pull-left"></span>
            <span>Article Published</span>
        </div>
        <div class="column-2">
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">28/04/2015</dd>
                <dd class="divide">16:34</dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="column-1">
            <span class="glyphicon glyphicon-ok glyphicon-ok--mod pull-left"></span>
            <span>Article Archived</span>
        </div>
        <div class="column-2">
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">28/04/2015</dd>
                <dd class="divide">17:00</dd>
            </dl>
            <dl>
                <dt><i>Message:</i></dt>
                <dd>Another message here</dd>
            </dl>
        </div>
    </li>
    <li>
        <div class="column-1">
            <span class="glyphicon glyphicon-ok glyphicon-ok--mod pull-left"></span>
            <span>Downstream Process Initiated</span>
        </div>
        <div class="column-2">
            <dl>
                <dt><i>Timestamp:</i></dt>
                <dd class="divide">28/04/2015</dd>
                <dd class="divide">17:15</dd>
            </dl>
            <dl>
                <dt><i>Message:</i></dt>
                <dd>Another message here</dd>
            </dl>
        </div>
    </li>
</ol>