<button class="btn btn-default schedule" id="schedule-amend" data-toggle="modal"
        data-target="#schedule-modal"
        data-article-id="{{ article.id }}">
    <span class="glyphicon glyphicon-calendar"></span>
    Re-Schedule
</button>
<button class="btn btn-default schedule" id="schedule-cancel" data-toggle="modal"
        data-target="#schedule-modal"
        data-article-id="{{ article.id }}">
    <span class="glyphicon glyphicon-calendar"></span>
    Cancel Schedule
</button>