<button class="btn btn-default schedule" id="schedule" data-toggle="modal" data-target="#schedule-modal"
        data-article-id="{{ article.id }}">
    <span class="fa fa-calendar"></span>
    Schedule
</button>