/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colours
$Black2: #424242;
$Black3: #7a7a7a;
$Blue: #428bca;
$DarkGrey: #616161;
$Green-txt: #b1cca3;
$Green: #deffcc;
$LightGrey1: #d1d1d1;
$LightGrey2-txt: #969696;
$LightGrey2: #ebebeb;
$LightGrey3: #777;
$LightGrey4: #ddd;
$LightGrey5: #c8c8c8;
$LightGrey6: #f5f5f5;
$LightGrey7: #b3b3b3;
$Orange-txt: #c4916c;
$Orange: #f5cca6;
$Pink-txt: #cc9c99;
$Pink: #ffc2bf;
$Teal-txt: #a5c3cc;
$Teal: #cff4ff;

// Refactored Colours
$dashboard-primary: #428bca;
$elf-black: #000;
$elf-white: #fff;

//Images
$img-path: "../images";

//Break Points
$mobile: "(max-width: 767px)";
$wide: "(max-width: 991px)";
$x-wide: "(max-width: 1199px)";

//Scheduled pages
$scheduledAdvanceArticle: #f1f1f1;
$scheduledArticle: #cde1f1;
$scheduledArticleText: #111;

//icons
$icon-circle-sm: 30px;
$icon-circle-md: 60px;
$icon-circle-lg: 80px;

//version run nav
$version-run-nav-list-border: darken($gray-lighter, 25%);
$version-run-nav-list-highlight: lighten($dashboard-primary, 35%);
$version-run-nav-list-text-color: $text-color;
$version-run-nav-list-text-color-light: lighten($version-run-nav-list-text-color, 30%);
$version-run-nav-list-bg: $gray-lighter;
$version-run-nav-list-bg-alt: darken($version-run-nav-list-bg, 5%);
$version-run-nav-list-header-bg: darken($version-run-nav-list-bg, 15%);
