/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

$dashboard-primary: #428bca;
$elf-black: #000;
$elf-white: #fff;

//Images
$img-path: "../images";

//Break Points
$mobile: "(max-width: 767px)";
$wide: "(max-width: 991px)";
$x-wide: "(max-width: 1199px)";

//Scheduled pages
$scheduledAdvanceArticle: #f1f1f1;
$scheduledArticle: #cde1f1;
$scheduledArticleText: #111;

//icons
$icon-circle-sm: 30px;
$icon-circle-md: 60px;
$icon-circle-lg: 80px;

$icon-success-text:             #b1cca3;
$icon-success-bg:               #deffcc;
$icon-info-text:                #a5c3cc;
$icon-info-bg:                  #cff4ff;
$icon-warning-text:             #c4916c;
$icon-warning-bg:               #f5cca6;
$icon-danger-text:              #cc9c99;
$icon-danger-bg:                #ffc2bf;


//version run nav
$version-run-nav-list-border: darken($gray-lighter, 25%);
$version-run-nav-list-highlight: lighten($dashboard-primary, 35%);
$version-run-nav-list-text-color: $text-color;
$version-run-nav-list-text-color-light: lighten($version-run-nav-list-text-color, 30%);
$version-run-nav-list-bg: $gray-lighter;
$version-run-nav-list-bg-alt: darken($version-run-nav-list-bg, 5%);
$version-run-nav-list-header-bg: darken($version-run-nav-list-bg, 15%);
