<div class="section-map">
    {{#each this as |articles articleSection|}}

        {{# if articles.length}}
            {{#is articleSection 'error'}}
                <div class="col-sm-3">
                    <a href="#error-list">
                        <span class="glyphicon e-icon lg danger glyphicon-warning-sign"></span>
                    </a>
                    <div class="text-center">
                        <a href="#error-list">
                            <span class="val">{{articles.length}}</span><br>
                            <span class="desc">Articles with Errors</span>
                        </a>
                    </div>
                </div>
            {{/is}}
            {{#is articleSection 'inProgress'}}
                <div class="col-sm-3">
                    <a href="#in-progress-list">
                        <span class="glyphicon e-icon lg info glyphicon-cog"></span>
                    </a>
                    <div class="text-center">
                        <a href="#inProgress-list">
                            <span class="val">{{articles.length}}</span><br>
                            <span class="desc">Articles are in Progress</span>
                        </a>
                    </div>
                </div>
            {{/is}}
            {{#is articleSection 'uir'}}
                <div class="col-sm-3">
                    <a href="#uir-list">
                        <span class="glyphicon e-icon lg muted glyphicon-hand-down "></span>
                    </a>
                    <div class="text-center">
                        <a href="#uir-list">
                            <span class="val">{{articles.length}}</span><br>
                            <span class="desc">Articles require User Input<br>(Ready to Publish)</span>
                        </a>
                    </div>
                </div>
            {{/is}}
            {{#is articleSection 'scheduled'}}
                <div class="col-sm-3">
                    <a href="#scheduled-list">
                        <span class="glyphicon e-icon lg warning glyphicon-time"></span>
                    </a>
                    <div class="text-center">
                        <a href="#scheduled-list">
                            <span class="val">{{articles.length}}</span><br>
                            <span class="desc">Articles are Scheduled</span>
                        </a>
                    </div>
                </div>
            {{/is}}
        {{/if}}
    {{/each}}
</div>


