<ol class="breadcrumb">
    <li><a href="{{ url }}">Monitoring</a></li>
    <li><a href="{{ url }}">Publishing</a></li>
    <li><a href="{{ url }}">Current</a></li>
    <li>Item 10.7554/eLife.04640</li>
</ol>