<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link href="../../css/libs.css?{{ cacheBuster }}" rel="stylesheet" media="all" />
    <link href="../../css/style.css?{{ cacheBuster }}" rel="stylesheet" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
      {% pattern-lab-head %}
	<!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }} is-pp">

