<span class="fa fa-file file-icon-vor"></span>
<div style="clear: both;"></div>
<br />
<span class="fa fa-file file-icon-poa"></span>

<div style="clear: both;"></div>
<br />
<span class="fa fa-file file-icon-none"></span>
<div style="clear: both;"></div>
<br />
<br />
<span class="file-icon-vor"></span>
<div style="clear: both;"></div>
<br />
<span class="file-icon-poa"></span>

<div style="clear: both;"></div>
<br />
<span class="file-icon-none"></span>
<div style="clear: both;"></div>
<br />
<br />