<span class="e-icon lg success fa fa-check"></span>
<span class="e-icon lg danger fa fa-times"></span>
<span class="e-icon lg danger fa fa-exclamation-triangle"></span>
<span class="e-icon lg warning fa fa-clock-o"></span>
<span class="e-icon lg info fa fa-cog"></span>
<span class="e-icon lg muted fa fa-hand-o-down "></span>
<span class="e-icon md success fa fa-check"></span>
<span class="e-icon md danger fa fa-times"></span>
<span class="e-icon md danger fa fa-exclamation-triangle"></span>
<span class="e-icon md warning fa fa-clock-o"></span>
<span class="e-icon md info fa fa-cog"></span>
<span class="e-icon md muted fa fa-hand-o-down "></span>
<span class="e-icon sm success fa fa-check"></span>
<span class="e-icon sm danger fa fa-times"></span>
<span class="e-icon sm danger fa fa-exclamation-triangle"></span>
<span class="e-icon sm warning fa fa-clock-o"></span>
<span class="e-icon sm info fa fa-cog"></span>
<span class="e-icon sm muted fa fa-hand-o-down "></span>
