//Images
$img-path: "../images";

//Colours
$LightGrey1: #d1d1d1;
$LightGrey2: #ebebeb;
$LightGrey2-txt: #969696;
$LightGrey3: #777;
$LightGrey4: #ddd;
$LightGrey5: #c8c8c8;
$LightGrey6: #f5f5f5;
$LightGrey7: #b3b3b3;
$DarkGrey: #616161;
$Black1: #333;
$Black2: #424242;
$Black3: #7a7a7a;
$Blue: #428bca;
$Pink: #ffc2bf;
$Pink-txt: #cc9c99;
$Green: #deffcc;
$Green-txt: #b1cca3;
$Teal: #cff4ff;
$Teal-txt: #a5c3cc;
$Orange: #f5cca6;
$Orange-txt: #c4916c;

//Break Points
$x-wide: "(max-width: 1199px)";
$wide: "(max-width: 991px)";
$mobile: "(max-width: 767px)";

//Helpers
.btn-grey {
  text-decoration: none;
  background-color: $LightGrey7;
  border-color: $LightGrey7;
  color: white;
  &:hover {
    background-color: $LightGrey3;
    border-color: $LightGrey3;
    color: white;
  }
}

.pattern-helper {
  margin-top: 40px;
  text-decoration: none;
}

//Main
body {
  color: $Black1;
  font-size: 14px;

  &.container {
    margin-bottom: 100px;
  }
}

a {
  color: $Blue;
  text-decoration: underline;
  &:hover {
    color: $Blue;
  }
}

.glyph-header {
  border-radius: 50%;
  font-size: 20px;
  padding: 15px;
}

.glyphicon-warning-sign.mod {
  @extend .glyph-header;
  background-color: $Pink;
  color: $Pink-txt;
  padding: 13px 15px 17px;
}
.glyphicon-cog.mod {
  @extend .glyph-header;
  background-color: $Teal;
  color: $Teal-txt;
}
.glyphicon-hand-down.mod {
  @extend .glyph-header;
  background-color: $LightGrey2;
  color: $LightGrey2-txt;
  padding: 16px 14px 14px 16px;
}
.glyphicon-time.mod {
  @extend .glyph-header;
  background-color: $Orange;
  color: $Orange-txt;
}
.glyphicon-ok.mod {
  @extend .glyph-header;
  background-color: $Green;
  color: $Green-txt;
  padding: 15px;
}

.glyph-status {
    margin-left: 5px;
    padding: 5px;
    border-radius: 50%;
  }

.glyphicon-remove {
  @extend .glyph-status;
  background-color: $Pink;
  color: $Pink-txt;
}
.glyphicon-ok {
  @extend .glyph-status;
  background-color: $Green;
  color: $Green-txt;
}
.glyphicon-warning-sign {
  @extend .glyph-status;
  padding: 5px 6px 7px;
  font-size: 11px;
  background-color: $Orange;
  color: $Orange-txt;
}

.poa {
  float: left;
  &:before {
    font-size: 30px;
    padding-left: 4px;
  }
  &:after {
    content: "POA";
    display: block;
    padding: 2px 5px 5px;
    margin-top: 5px;
    font-size: 13px;
    color: white;
    background-color: $Black2;
  }
}
.vor {
  float: left;
  &:before {
    font-size: 30px;
    padding-left: 4px;
  }
  &:after {
    content: "VOR";
    display: block;
    padding: 2px 5px 5px;
    margin-top: 5px;
    font-size: 13px;
    color: white;
    background-color: $Black3;
  }
}

.logo {
  margin: 10px 0;
  padding-left: 45px;
  background: url(#{$img-path}/eLife-logo.jpg) no-repeat;
  background-size: 36px 36px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 400;
}

.navbar {
  background-color: $LightGrey1;
  border-radius: 0;
  border: 0;
  min-height: 40px;
  @media #{$mobile} {
    background-color: transparent;
    .navbar-toggle {
      background-color: $LightGrey1;
    }
    .icon-bar {
      background-color: $DarkGrey;
    }
    .navbar-collapse {
      background-color: $LightGrey1;
    }
  }
  .navbar-collapse {
    padding: 0;
  }
  ul {
    li {
      background-color: transparent;
      a {
        color: $DarkGrey;
        text-decoration: none;
        padding: 10px 45px;
      }
      &.active {
        > a {
          background-color: $LightGrey2;
          &:hover {
            background-color: white;
          }
        }
      }
    }
    &.navbar-nav {
      @media #{$mobile} {
        margin: 0;
        .open .dropdown-menu>li>a {
          padding: 10px 45px;
        }
      }
      li {
        border-right: 1px solid white;
      }
    }
    &.dropdown-menu {
      padding: 0;
      border: 0;
      li {
        border-top: 1px solid white;
        > a {
          background-color: $LightGrey2;
          padding: 10px 0;
          width: 170px;
          text-align: center;
          &:hover {
            background-color: white;
          }
          @media #{$mobile} {
            width: 100%;
            text-align: left;
          }
        }
      }
    }
  }
}

.breadcrumb {
  background-color: transparent;
  color: $LightGrey3;
}

.nav-tabs {
  border: 0;
  margin-bottom: 20px;
  li {
    background-color: $LightGrey2;
    &:not(:first-child) {
      a {
        border-left: 0;
      }
    }
    &.active:not(:first-child) {
      a {
        border-left: 0;
      }
    }
    a {
      text-decoration: none;
      border: 1px solid $LightGrey4;
      border-radius: 0;
      padding: 10px 40px;
      color: $DarkGrey;
      &:hover {
        background-color: white;
        border-color: $LightGrey4;
        color: $DarkGrey;
      }
    }
  }
}

.section-map {
  padding: 15px 0 15px 80px;
  background-color: $LightGrey6;
  border: 1px solid $LightGrey5;
  overflow: auto;
  @media #{$x-wide} {
    text-align: center;
    padding: 15px 0 15px 40px;
  }
  @media #{$wide} {
    padding: 15px 0;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  span {
    &.glyphicon {
      float: left;
      margin-top: 45px;
      transform: translateY(-50%);
      @media #{$wide} {
        float: none;
      }
    }
    &.val {
      font-size: 36px;
    }
    &.desc {
      font-weight: 300;
    }
  }
  .text-center {
    float: left;
    width: 112px;
    @media #{$wide} {
      float: none;
      display: block;
      margin: -28px auto 0;
    }
  }
}

table.article-snapshot-list {
  margin-top: 15px;
  width: 100%;
  tbody {
    @media #{$mobile} {
      display: block;
    }
  }
  tr {
    vertical-align: top;
    border-top: 1px solid $LightGrey5;
    @media #{$mobile} {
      display: block;
    }
  }
  td {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.3;
  }
  h6 {
    font-weight: bold;
    margin-top: 0;
  }
  a {
    text-decoration: none;
    color: $Black2;
    &:hover {
      color: $Black1;
    }
  }
  p {
    margin: 0;
    font-size: 12px;
  }
  dt,
  dd {
    float: left;
    width: 50%;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.3;
  }
  .btn {
    width: 130px;
    margin-bottom: 5px;
    text-decoration: none;
    text-align: left;
    .glyphicon {
      padding-right: 5px;
    }
  }
  .checkbox {
    margin: 0;
    padding-right: 10px;
    label {
      line-height: 20px;
    }
  }
  .column-1 {
    width: 40%;
    @media #{$mobile} {
      display: block;
      width: 100%;
    }
    h6,
    p {
      padding-left: 18%;
      @media #{$mobile} {
        padding-left: 0;
      }
    }
  }
  .column-2 {
    width: 44%;
    @media #{$mobile} {
      display: block;
      overflow: auto;
      width: 100%;
    }
  }
  .column-3 {
    width: 16%;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    @media #{$mobile} {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  &.action {
    @media #{$mobile} {
      .btn {
        width: 100%;
      }
    }
  }
  &.archive {
    .column-2 {
      padding-left: 5%;
      padding-right: 5%;
    }
    // &:first-child {
    //   border-top: 0;
    // }
  }
}

ol.article-version-map-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid $LightGrey5;
  width: 25%;
  li {
    border-top: 1px solid $LightGrey5;
    &:first-child {
      border-top: 0;
    }
    &.version {
      padding: 10px 15px;
    }
    &.run {
      a {
        display: table;
        width: 100%;
        text-decoration: none;
        padding: 10px 15px 10px 30px;
        &:hover {
          background-color: $LightGrey1;
        }
        span {
          display: table-cell;
          color: $Black1;
          &:last-child {
            width: 20%;
            text-align: right;
          }
          &:first-child {
            width: 50%;
            text-align: left;
          }
        }
      }
    }
  }
}

ol.article-version-history-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 66.67%;
  li {
    display: table;
    width: 100%;
    padding-bottom: 20px;
    .column-1 {
      display: table-cell;
      width: 50%;
      @media #{$x-wide} {
        width: 45%;
      }
      @media #{$wide} {
        width: 50%;
      }
      span {
        &:last-child {
          position: relative;
          top: 15px;
          left: 20px;
        }
      }
    }
    .column-2 {
      display: table-cell;
      vertical-align: middle;
      font-size: 12px;
      p {
        display: table-row;
        width: 100%;
        i {
          display: table-cell;
          padding-right: 15px;
        }
        span {
          display: table-cell;
        }
      }
    }
  }
}

section {
  position: relative;
  margin-top: 40px;
  border-bottom: 1px solid $LightGrey5;
  h4 {
    margin: 0;
    padding: 15px 0 15px 65px;
  }
  
  &.uir {
    h4 {
      display: inline-block;
      padding: 7px 15px 15px;
      margin: 0;
    }
    #publish-all {
      display: none;
      position: absolute;
      top: 15px;
      right: 0;
      text-decoration: none;
      @media #{$mobile} {
        top: auto;
        bottom: -45px;
        width: 100%;
      }
    }
    #publish-action,
    #publish-all-action {
      display: none;
    }
    .column-3 {
      text-align: right;
    }
  }

  &.article-detail {
    font-size: 12px;
    h6 {
      font-weight: bold;
      margin-top: 0;
    }
    p {
      margin: 0;
    }
    .btn {
      text-decoration: none;
      @media #{$mobile} {
        display: block;
        &:not(:first-child) {
          margin-top: 5px;
        }
      }
    }
    dt,
    dd {
      float: left;
      width: 50%;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.3;
    }
    .snapshot {
      background-color: $LightGrey6;
      border: 1px solid $LightGrey5;
      tr {
        vertical-align: middle;
      }
      td {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .column-1 {
        // width: 40%;
        padding-left: 15px;
        vertical-align: top;
        h6,
        p {
          padding-left: 18%;
        }
      }
      .column-2 {
        padding-left: 15px;
        padding-right: 15px;
        width: 15%;
      }
      .column-3 {
        width: 30%;
        text-align: right;
        padding-right: 15px;
        @media #{$x-wide} {
          width: 40%;
        }
        @media #{$wide} {
          width: 50%;
        }
        @media #{$mobile} {
          width: 30%;
        }
      }
    }
    .detail {
      td {
        vertical-align: top;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      dt {
        width: 32%;
      }
      dd {
        width: 68%;
      }
      .column-1 {
        width: 50%;
        // @media #{$x-wide} {
        //   width: 56%;
        // }
        // @media #{$wide} {
        //   width: 45%;
        // }
        // i {
        //   width: 20%;
        //   @media #{$x-wide} {
        //     width: 30%;
        //   }
        // }
      }
      .column-2 {
        padding-left: 5%;
        padding-right: 5%;
      }
      .column-3 {

      }
      // p {
      //   display: table-row;
      // }
      // i {
      //   display: table-cell;
      //   padding-right: 15px;
      // }
      // span {
      //   display: table-cell;
      // }
    }
  }

  &.article-version-map {
    padding-left: 0;
    border: 0;
  }

  &.article-version-history {
    padding-right: 0;
    border: 0;
  }
}

#filter {
  position: relative;
  margin-top: 40px;
  a {
    text-decoration: none;
  }
  > .dropdown-menu  {
    background-color: white;
    width: 100%;
    padding: 15px;
    border-radius: 0;
  }
  .filter-search {
    padding: 0 0 15px;
    border-bottom: 1px solid $LightGrey5;
  }
  .filter-refine {
    list-style: none;
    overflow: visible;
    padding: 15px 0;
    min-height: 420px;
    legend {
      border: 0;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .btn {
      text-decoration: none;
      margin-top: 10px;
      padding: 5px 7px;
      @media #{$wide} {
        margin: 15px 0 0;
        display: block;
        width: 100%;
      }
    }
  }
}
.date-range {
  .custom-label {
    display: block;
    margin-top: 10px;
  }
}
#datetimepicker-start,
#datetimepicker-end {
  margin-bottom: 10px;
  input {
    vertical-align: middle;
    line-height: 16px;
    padding: 6px;
    &::-webkit-input-placeholder { font-size: 85%; }
    &::-moz-placeholder { font-size: 85%; } /* firefox 19+ */
    &:-moz-placeholder { font-size: 85%; }
    &:-ms-input-placeholder { font-size: 85%; } /* ie */
  }
}

.download-as {
  display: block;
  text-decoration: none;
  margin: 40px 0;
  font-size: 12px;
  .glyphicon {
    font-size: 20px;
    vertical-align: text-bottom;
  }
}

//Layouts
.dashboard-page {
  .pattern-helper {
    display: none;
  }
}

.archive-page {
  #filter {
    margin: 0;
    .dropdown-toggle {
      position: absolute;
      right: 15px;
      top: -73px;
    }
    > .dropdown-menu  {
      top: -35px;
    }
  }
}

.detail-page {
  .article-version-map-list,
  .article-version-history-list {
    width: auto;
  }
}

.modal-dialog {
  ol {
    margin-top: 5px;
    li {
      list-style-type: square;
      padding: 5px 0;
    }
  }
}

