/* Specific to scheduled page */
.schedule-page__content {
  position: relative;
}

.calendar {
  position: relative;
  z-index: 0;
}

@media #{$df-sm} {
  .schedule-page-cta {
    text-align: center;
    .schedule-page__switcher {
      .btn-group {width: 100%;}
      .schedule-page-switch {width: 50%;}
    }
    .schedule {
      margin-top: 10px;
      display: block;
      width: 100%;
    }
  }
}