{{debug response}}

{{#is response.result 'success'}}
    <div class="alert alert-success">
        {{#is actionType 'schedule-cancel'}}
            <p>This article has been unscheduled.</p>
        {{/is}}
        {{#isnt actionType 'schedule-cancel'}}
            <p>Your article has been successfully scheduled.</p>
        {{/isnt}}
    </div>
{{/is}}