{{#is actionType 'schedule'}}
    {{#if showArticleIdField}}
        <p>Please enter the numeric ID of the article you wish to publish:</p>
        <br/>
        <div class="form-group">
            <div class="col-sm-12">
                <input id="schedule-id" name="id" class="form-control article-id schedule-field" data-validation="numeric" type="number" placeholder="Article ID" min="0">
            </div>
        </div>
        <br/>
        <hr/>
        <br/>
    {{/if}}
    <p>When do you want to schedule this article?</p>
    <p class="article-cancel-info"></p>
    <br/>
    <div class="form-group">
        <div class="col-sm-12">
            <input id="schedule-date" name="date" class="form-control datepicker schedule-field" type="text" placeholder="Date">
        </div>
    </div>
    <br/>
    <br/>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="timepicker">
                <div class="timepicker-hour">
                    <input id="schedule_hour_submit" name="schedule_hour_submit"
                           class="form-control timepicker hourpicker schedule-field"
                           type="number" placeholder="Hour" min="1" max="12"  maxlength="2" data-validation="numeric">
                </div>
                <div class="timepicker-divider">:</div>
                <div class="timepicker-minute">
                    <input id="schedule_minute_submit" name="schedule_minute_submit"
                           class="form-control timepicker minutepicker schedule-field" type="number" placeholder="Minute" min="0" max="59"  maxlength="2" data-validation="numeric">
                </div>
                <div class="timepicker-ampm">
                    <select id="schedule_ampm_submit" class="form-control timepicker ampmpicker schedule-field" name="schedule_ampm_submit">
                        <option value="am">am</option>
                        <option value="pm" selected="selected">pm</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br/>
{{/is}}
{{#is actionType 'cancel'}}
    <div class="alert alert-warning">
        <p>Are you sure you want to cancel the publication of this article?</p>
        <p class="article-cancel-info"></p>
    </div>
{{/is}}