/**
This code creates custom grid for the time picker in the scheduler
Its currently used in the schedule modal popup
|hour|Minute|am/pm|
*/
.timepicker {
  @include clearfix;
  .timepicker-hour,
  .timepicker-divider,
  .timepicker-minute,
  .timepicker-ampm {
    float: left;
    width: 20%;
    margin-right: 5px;
  }
  .timepicker-divider {
    width: auto;
    line-height: $input-height-base;
  }
  .timepicker-ampm {
    margin-left: 10px;
  }
}
