<section>
    <p class="lead"><strong>{{status}} {{statusText}}</strong></p>
    <p>Sorry an error occurred while retrieving the requested information.</p>
    <br />
    <p>{{{message}}}</p>
    <br />
</section>