<a href="#" class="btn btn-default pattern-helper">
    Modal
</a>
<div class="modal fade" id="schedule-modal" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="schedule-modal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Schedule article</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="schedule-close">Close</button>
                <button type="button" class="btn btn-primary has-spinner hidden" id="schedule-action">Schedule</button>
                <button type="button" class="btn btn-primary has-spinner hidden" id="schedule-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>