{{#is scheduled true}}
    <div class="alert alert-success">
        <p>Success your article has been scheduled.</p>
    </div>
{{else}}
    <div class="alert alert-danger">
        <p>An error has occured, please try again.</p>
        {{#if message}}<p>{{message}}</p>{{/if}}
    </div>
{{/is}}