{{#is actionType 'schedule'}}
    {{#if showArticleField}}
        <p>Please enter the ID of the article you wish to publish:</p>
        <br/>
        <div class="form-group">
            <div class="col-sm-12">
                <input id="schedule-id" name="id" class="form-control" type="text" placeholder="Article ID">
            </div>
        </div>
        <br/>
        <hr/>
        <br/>
    {{/if}}
    <p>When do you want to schedule this article?</p>
    <br/>
    <div class="form-group">
        <div class="col-sm-6">
            <input id="schedule-date" name="date" class="form-control datepicker" type="text" placeholder="Date">
        </div>
        <div class="col-sm-6">
            <input id="schedule-time" name="time" class="form-control timepicker" type="text" placeholder="Time">
        </div>
    </div>
    <br/>
{{/is}}
{{#is actionType 'cancel'}}
    <div class="alert alert-warning">
        <p>Are you sure you want to cancel the publication of this article?</p>
    </div>
{{/is}}