<section class="article-event-timeline">
    <div class="article-event-timeline__row">
        <div class="article-event-timeline__status">
            <span class="fa e-icon md success fa-check status-icon" title="end"></span>
            <span class="line"></span>
        </div>
        <div class="article-event-timeline__title"><p>Expand Article</p></div>
        <div class="article-event-timeline__detail">
            <div>
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">13/02/2016 05:49:11</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Finished expansion of article 08149 for version 3 run 2dbebfa6-01c5-49c9-9b18-fb2c9e03161f into 08149.3/2dbebfa6-01c5-49c9-9b18-fb2c9e03161f</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="article-event-timeline__row">
        <div class="article-event-timeline__status">
            <span class="fa e-icon md success fa-check status-icon" title="end"></span>
            <span class="line"></span>
        </div>
        <div class="article-event-timeline__title"><p>Apply Version Number</p></div>
        <div class="article-event-timeline__detail">
            <div>
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">13/02/2016 05:49:21</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Finished applying version number to article 08149 for version 3 run 2dbebfa6-01c5-49c9-9b18-fb2c9e03161f</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="article-event-timeline__row">
        <div class="article-event-timeline__status">
            <span class="fa e-icon md success fa-check status-icon" title="end"></span>
            <span class="line"></span>
        </div>
        <div class="article-event-timeline__title"><p>Convert JATS</p></div>
        <div class="article-event-timeline__detail">
            <div>
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">13/02/2016 05:49:23</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>XML converted to EIF for article 08149 to 08149.3/2dbebfa6-01c5-49c9-9b18-fb2c9e03161f/elife-08149-v3.json</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="article-event-timeline__row">
        <div class="article-event-timeline__status">
            <span class="fa e-icon md success fa-check status-icon" title="end"></span>
            <span class="line"></span>
        </div>
        <div class="article-event-timeline__title"><p>Set Publication Status</p></div>
        <div class="article-event-timeline__detail">
            <div>
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">13/02/2016 05:49:25</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Ending setting of publish status for 08149</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="article-event-timeline__row">
        <div class="article-event-timeline__status">
            <span class="fa e-icon md info fa-cog status-icon" title="{{event-status}}"></span>
            <span class="line"></span>
        </div>
        <div class="article-event-timeline__title"><p>Start</p></div>
        <div class="article-event-timeline__detail">
            <div>
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">13/02/2016 05:51:32</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Finished submitting EIF for article  08149 status was 200</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="article-event-timeline__row">
        <div class="article-event-timeline__status">
            <span class="fa e-icon md danger fa-times status-icon" title="{{event-status}}"></span>
            <span class="line"></span>
        </div>
        <div class="article-event-timeline__title"><p>error</p></div>
        <div class="article-event-timeline__detail">
            <div>
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">13/02/2016 05:51:10</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Deposited assets for article 08149</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="article-event-timeline__row">
        <div class="article-event-timeline__status">
            <span class="fa e-icon md success fa-check status-icon" title="end"></span>
            <span class="line"></span>
        </div>
        <div class="article-event-timeline__title"><p>End</p></div>
        <div class="article-event-timeline__detail">
            <div>
                <dl>
                    <dt><i>Timestamp:</i></dt>
                    <dd class="divide">13/02/2016 05:51:00</dd>
                </dl>
                <dl>
                    <dt><i>Message:</i></dt>
                    <dd>Finished converting images for  0814922 images processed </dd>
                </dl>
            </div>
        </div>
    </div>
</section>