{{#each this}}
<section class="{{@key}}-list" id="{{@key}}-list">
    <table class="article-snapshot-list">
        <caption>
            <span class="glyphicon glyphicon-warning-sign glyphicon-warning-sign--mod pull-left"></span>
            <h4>Errors
                <small>(3 Articles)</small>
            </h4>
        </caption>
        <tbody>
        {{#each this}}
            {{> article-item-template}}
        {{/each}}
        </tbody>
    </table>
</section>
{{/each}}