<ul class="nav elf-nav-tabs">
    <li role="presentation" class="{{#is-current}}active{{/is-current}}"><a href="{{ url }}">Current</a></li>
    <li role="presentation" class="{{#is-scheduled}}active{{/is-scheduled}}"><a href="{{ url }}">Scheduled</a></li>
    <li role="presentation" class="{{#is-archive}}active{{/is-archive}}"><a href="{{ url }}">Archive</a></li>
</ul>
