<section class="version-run-nav">
    <ol class="version-run-nav-list">
        <li>
                        <span class="version-container">
                            <span class="version">Version 1
                            </span>
                            <!--@TODO - icon-->
                            <span class="status"><span class="file-icon-vor"></span></span>
                        </span>
            <ol class="run-container">
                <li class="run">
                    <a href="/article/00353/1/1" data-version="1" data-run="1">
                        <span class="title">Run 1</span>
                        <span class="date">23/03/2016 12:15:06</span>
                        <span class="icon"><span class="fa fa-chevron-right"></span></span>
                    </a>
                </li>
                <li class="run ">
                    <a href="/article/00353/1/2" data-version="1" data-run="2">
                        <span class="title">Run 2</span>
                        <span class="date">23/03/2016 12:15:18</span>
                        <span class="icon"><span class="fa fa-chevron-right"></span></span>
                    </a>
                </li>
            </ol>

        </li>
        <li class="active">
                        <span class="version-container">
                            <span class="version">Version 2
                            </span>
                            <span class="status"><span class="file-icon-vor"></span></span>
                        </span>
            <ol class="run-container">
                <li class="run active">
                    <a href="/article/00353/1/1" data-version="1" data-run="1">
                        <span class="title">Run 1</span>
                        <span class="date">23/03/2016 12:15:06</span>
                        <span class="icon"><span class="fa fa-chevron-right"></span></span>
                    </a>
                </li>
                <li class="run ">
                    <a href="/article/00353/1/2" data-version="1" data-run="2">
                        <span class="title">Run 2</span>
                        <span class="date">23/03/2016 12:15:18</span>
                        <span class="icon"><span class="fa fa-chevron-right"></span></span>
                    </a>
                </li>
            </ol>

        </li>
    </ol>
</section>