@mixin elf-file-icon($txt) {
  color: $gray-dark;
  float: left;
  clear: both;

  &:before {
    font-size: 3rem;
    padding-left: 4px;
  }

  &:after {
    background-color: $gray-light;
    color: $elf-white;
    content: "#{$txt}";
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 5px 5px 5px;
    font-family: $font-family-monospace;
  }

  &.fa {
    &:after {
      margin-top: 5px;
    }
  }

}

.file-icon-poa {
  @include elf-file-icon("POA");
}

.file-icon-vor {
  @include elf-file-icon("VOR");
}

.file-icon-none {
  @include elf-file-icon("...");
}

