.logo {
  margin: 10px 0;
  padding-left: 45px;
  background: url(#{$img-path}/eLife-logo.jpg);
  background-repeat: no-repeat;
  background-size: 36px 36px;
  line-height: 1.8;
  font-size: 2rem;
  font-weight: 400;
}