// Status icons - VOR/POA

.poa {
  float: left;

  @media #{$mobile} {
    display: none;
  }

  &:before {
    font-size: 3rem;
    padding-left: 4px;
  }

  &:after {
    background-color: $Black2;
    color: white;
    content: "POA";
    display: block;
    font-size: 1.3rem;
    margin-top: 5px;
    padding: 2px 5px 5px;
  }

}

.vor {
  float: left;

  @media #{$mobile} {
    display: none;
  }

  &:before {
    font-size: 3rem;
    padding-left: 4px;
  }

  &:after {
    background-color: $Black3;
    color: white;
    content: "VOR";
    display: block;
    font-size: 1.3rem;
    margin-top: 5px;
    padding: 2px 5px 5px;
  }

}

.no-article-status-type {
  float: left;

  @media #{$mobile} {
    display: none;
  }

  &:before {
    font-size: 3rem;
    padding-left: 4px;
  }

  &:after {
    background-color: $Black3;
    color: white;
    content: "...";
    text-align: center;
    display: block;
    font-size: 1.3rem;
    margin-top: 5px;
    padding: 2px 5px 5px;
  }

}

.reset-article-status-type {
  float: none;
}


// Icons - glyphicons in circles

.e-icon {
  // large
  &.lg {
    border-radius: 50%;
    font-size: 2rem;
    padding: 15px;
  }
  // medium
  &.md {
    border-radius: 50%;
    font-size: 2rem;
    padding: 15px;
  }
  // small
  &.sm {
    border-radius: 50%;
    margin-left: 5px;
    padding: 5px;
  }

  // green
  &.success {
    background-color: $Green;
    color: $Green-txt;
  }
  // red
  &.danger {
    background-color: $Pink;
    color: $Pink-txt;
  }
  // orange
  &.warning {
    background-color: $Orange;
    color: $Orange-txt;
  }
  // blue
  &.info {
    background-color: $Teal;
    color: $Teal-txt;
  }
  // grey
  &.muted {
    background-color: $LightGrey2;
    color: $LightGrey2-txt;
  }
}
