/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

.current-page,
.detail-page {

  .pattern-helper {
    display: none;
  }

  .publish-action {
    display: inline-block;
  }

}

.archive-page {

  .filter {
    margin: 0;

    .dropdown-toggle {
      position: absolute;
      right: 15px;
      top: -73px;
    }

    > .dropdown-menu  {
      top: -35px;
    }

    > .dropdown-menu ul {
      list-style-type: none;
    }

  }

}

.detail-page {

  .article-version-map-list,
  .article-version-history-list {
    width: auto;
  }

}