// reset fix/remove list styles
.article-version-map-list,
.article-version-map-list.run-container {
  list-style: none;
  ul, li, ol {
    list-style: none;
  }
}

.article-version-map-list {
  // background colours & borders
  background-color: $LightGrey6;
  border: 1px solid $LightGrey5;

  li .version-container {
    background-color: $LightGrey5;
    border-top: 1px solid $LightGrey5;
    border-bottom: 1px solid $LightGrey5;
  }

  li:first-child .version-container {
    border-top: 0px;
  }

  .run-container li:last-of-type a {
    border-bottom: 0px;
  }

  .run-container li {
    &:nth-child(even) {
      background-color: lighten($LightGrey5, 14%);
    }

    &:hover,
    &.active {
      background-color: lighten($LightGrey5, 5%);
      .icon {
        color: $Black1
      }
    }

    &.active {
      background-color: lighten($Blue, 35%);
      .icon {
        color: $Black1
      }
    }

    a {
      border-bottom: 1px solid $LightGrey5;
    }
  }

  //typography
  .run-container .run {
    a {
      text-decoration: none;
      color: $Black1;
    }

    .date {
      font-size: 1.1rem;
      color: $Black3;
    }

    .icon {
      font-size: 1.2rem;
      color: $Black3;
    }
  }

  // structure
  // convert sections to 'blocks'
  .version-container,
  .run-container .run a {
    display: block;
    width: 100%;
    padding: 5px 10px;
  }

  //align items
  .version-container .version,
  .version-container .status,
  .run-container .run a > span {
    display: table-cell;
    vertical-align: middle;
  }
  .version-container,
  .run-container .run a {
    display: table;
  }

  .version-container {
    display: table;

    .version {
      width: 80%;
    }

    .status {
      width: 20%;
      text-align: right;
      vertical-align: middle;
    }

    .glyphicon {
      top: -3px;
    }
  }

  .run-container .run {
    .title {
      width: 40%;
    }

    .date {
      width: 50%;
      text-align: right;
    }

    .icon {
      width: 10%;
      text-align: right;
    }
  }

}

.article-version-map-list-old {
  border: 1px solid $LightGrey5;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;

  li {
    border-top: 1px solid $LightGrey5;

    &:first-child {
      border-top: 0;
    }

    .version {
      border-bottom: 1px solid $LightGrey5;
      display: block;
      padding: 10px 15px;
    }

    .run {
      list-style: none;
      padding: 0;

      a {
        display: table;
        padding: 10px 15px 10px 30px;
        text-decoration: none;
        width: 100%;

        &:hover {
          background-color: $LightGrey1;
        }

        span {
          color: $Black1;
          display: table-cell;

          &:last-child {
            text-align: right;
            width: 20%;
          }

          &:first-child {
            text-align: left;
            width: 30%;
          }

        }

      }

    }

  }

}

.article-version-history-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 66.67%;

  li {
    display: table;
    padding-bottom: 20px;
    width: 100%;

    .column-1 {
      display: table-cell;
      width: 40%;

      @media #{$x-wide} {
        width: 45%;
      }

      @media #{$wide} {
        width: 50%;
      }

      @media #{$mobile} {
        display: block;
        width: 100%;
      }

      span {

        &:last-child {
          float: left;
          margin-left: 20px;
          margin-top: 14px;
        }

      }

    }

    .column-2 {
      display: table-cell;
      font-size: 1.2rem;
      vertical-align: middle;

      @media #{$mobile} {
        display: block;
        width: 100%;
        padding-top: 15px;
        padding-left: 70px;
      }

      dl {
        clear: both;
        margin: 0;

        dt {
          float: left;
          font-weight: normal;
          width: 30%;
        }

        dd {
          float: left;
          width: 70%;

          &.divide {
            width: 35%;
          }

        }

      }

    }

  }

}