/* page tabs */
.nav-tabs {
  border: 0;
  margin-bottom: 20px;

  li {
    background-color: $LightGrey2;

    &:not(:first-child) {

      a {
        border-left: 0;
      }

    }

    &.active:not(:first-child) {

      a {
        border-left: 0;
      }

    }

    a {
      text-decoration: none;
      border: 1px solid $LightGrey4;
      border-radius: 0;
      padding: 10px 40px;
      color: $DarkGrey;

      &:hover {
        background-color: white;
        border-color: $LightGrey4;
        color: $DarkGrey;
      }

    }

  }

}