/**
This code creates custom grid for the time picker in the scheduler
|hour|Minute|am/pm|
*/
.timepicker {
  @include clearfix;
  .timepicker-hour,
  .timepicker-divider,
  .timepicker-minute,
  .timepicker-ampm {
    float: left;
    width: 15%;
    padding-right: 5px;
  }
  .timepicker-divider {
    width: auto;
    line-height: $input-height-base;
  }
  .timepicker-minute {
    width: 20%;
  }
}
