<span class="glyphicon e-icon lg success glyphicon-ok"></span>
<span class="glyphicon e-icon lg danger glyphicon-remove"></span>
<span class="glyphicon e-icon lg danger glyphicon-warning-sign"></span>
<span class="glyphicon e-icon lg warning glyphicon-time"></span>
<span class="glyphicon e-icon lg info glyphicon-cog"></span>
<span class="glyphicon e-icon lg muted glyphicon-hand-down "></span>
<span class="glyphicon e-icon sm success glyphicon-ok"></span>
<span class="glyphicon e-icon sm danger glyphicon-remove"></span>
<span class="glyphicon e-icon sm danger glyphicon-warning-sign"></span>
<span class="glyphicon e-icon sm warning glyphicon-time"></span>
<span class="glyphicon e-icon sm info glyphicon-cog"></span>
<span class="glyphicon e-icon sm muted glyphicon-hand-down "></span>
