<span class="fa e-icon lg success fa-check"></span>
<span class="fa e-icon lg danger fa-times"></span>
<span class="fa e-icon lg danger fa-exclamation-triangle"></span>
<span class="fa e-icon lg warning fa-clock-o"></span>
<span class="fa e-icon lg info fa-cog"></span>
<span class="fa e-icon lg muted fa-hand-o-down "></span>
<span class="fa e-icon sm success fa-check"></span>
<span class="fa e-icon sm danger fa-times"></span>
<span class="fa e-icon sm danger fa-exclamation-triangle"></span>
<span class="fa e-icon sm warning fa-clock-o"></span>
<span class="fa e-icon sm info fa-cog"></span>
<span class="fa e-icon sm muted fa-hand-o-down "></span>
