{{> article-detail-actions}}
<div class="row">
    <div class="col-md-3">
        {{> article-version-list }}
    </div>
    <div class="col-md-9">
        {{> article-detail section=articleDetail }}
        {{> article-version-history }}
    </div>
</div>