{{> article-detail-actions}}
<div class="row">
    <div class="col-md-3">
        {{> version-run-nav }}
    </div>
    <div class="col-md-9">
        {{> article-detail section=articleDetail }}
        {{> article-event-timeline }}
    </div>
</div>