<button class="btn btn-default schedule" id="schedule-amend" data-toggle="modal"
        data-target="#schedule-modal"
        data-article-id="{{ article.id }}"
        data-title="Re-schedule Article">
    <span class="fa fa-calendar"></span>
    Re-Schedule
</button>
<button class="btn btn-default schedule" id="schedule-cancel" data-toggle="modal"
        data-target="#schedule-modal"
        data-article-id="{{ article.id }}"
        data-title="Cancel Schedule">
    <span class="fa fa-calendar-minus-o"></span>
    Cancel Schedule
</button>