// reset fix/remove list styles
.version-run-nav-list,
.version-run-nav-list.run-container {
  list-style: none;
  padding: 0px;
  ul, li, ol {
    list-style: none;
    padding-left: 0px;
  }
}

.version-run-nav-list {
  // background colours & borders
  border: 1px solid $version-run-nav-list-border;
  li {
    background-color: $version-run-nav-list-header-bg;
    .version-container {
      font-weight: 500;
      border-top: 1px solid $version-run-nav-list-border;
      border-bottom: 1px solid $version-run-nav-list-border;
    }
  }

  li:first-child .version-container {
    border-top: 0px;
  }

  .run-container li:last-of-type a {
    border-bottom: 0px;
  }

  .run-container {
    li {
      background-color: $version-run-nav-list-bg;
      &:nth-child(even) {
        background-color: $version-run-nav-list-bg-alt;
      }

      &:hover {
        background-color: darken($version-run-nav-list-bg-alt, 5%);
        .icon, .date {
          color: $version-run-nav-list-text-color;
        }
      }

      &.active {
        background-color: $version-run-nav-list-highlight;
        .icon {
          color: $version-run-nav-list-text-color;
        }
      }

      a {
        border-bottom: 1px solid $version-run-nav-list-border;
      }
    }
  }

  //typography
  .run-container .run {
    a {
      text-decoration: none;
      color: $version-run-nav-list-text-color;
    }

    .date, .icon {
      color: $version-run-nav-list-text-color-light;
    }

    .date {
      font-size: 1.1rem;
    }

    .icon {
      font-size: 1.2rem;
    }
  }

  // structure
  // convert sections to 'blocks'
  .version-container,
  .run-container .run a {
    display: block;
    width: 100%;
    padding: 5px 10px;
  }

  //align items
  .version-container .version,
  .version-container .status,
  .run-container .run a > span {
    display: table-cell;
    vertical-align: middle;
  }
  .version-container,
  .run-container .run a {
    display: table;
  }

  .version-container {
    display: table;

    .version {
      width: 80%;
    }

    .status {
      width: 20%;
      text-align: right;
      vertical-align: middle;
    }

    .glyphicon {
      top: -3px;
    }
  }

  .run-container .run {
    .title {
      width: 40%;
    }

    .date {
      width: 50%;
      text-align: right;
    }

    .icon {
      width: 10%;
      text-align: right;
    }
  }

}
