<div class="btn-group">
    <button type="button" class="btn {{#is currentView 'list'}}btn-primary{{else}}btn-default{{/is}} schedule-page-switch" data-switch="list"><span
            class="fa fa-list-ul" aria-hidden="true"></span> List
    </button>
    <button type="button" class="btn {{#is currentView 'calendar'}}btn-primary{{else}}btn-default{{/is}} schedule-page-switch" data-switch="calendar"><span
            class="fa fa-calendar" aria-hidden="true"></span> Calendar
    </button>
</div>