<div class="section-map">
	<div class="col-sm-3">
	  <a href="#">
	    <span class="glyphicon glyphicon-warning-sign mod"></span>
	  </a>
	  <div class="text-center">
	    <a href="#">
	      <span class="val">3</span><br>
	      <span class="desc">Articles with Errors</span>
	    </a>
	  </div>  
	</div>
	<div class="col-sm-3">
	  <a href="#">
	    <span class="glyphicon glyphicon-cog mod"></span>
	  </a>
	  <div class="text-center">
	  	<a href="#">
	      <span class="val">2</span><br>
	      <span class="desc">Articles are in Progress</span>
	    </a>
	  </div>
	</div>
	<div class="col-sm-3">
	  <a href="#">
	    <span class="glyphicon glyphicon-hand-down mod"></span>
	  </a>
	  <div class="text-center">
	  	<a href="#">
	      <span class="val">2</span><br>
	      <span class="desc">Articles require User Input<br>(Ready to Publish)</span>
	    </a>
	  </div>
	</div>
	<div class="col-sm-3">
	  <a href="#">
	    <span class="glyphicon glyphicon-time mod"></span>
	  </a>
	  <div class="text-center">
	    <a href="#">
	      <span class="val">3</span><br>
	      <span class="desc">Articles are Scheduled</span>
	    </a>
	  </div>
	</div>
</div>