<div class="section-map">
	<div class="col-sm-3">
	  <a href="#">
	    <span class="glyphicon glyphicon-warning-sign"></span>
	    <div class="text-center">
	      <span class="val">3</span><br>
	      <span class="desc">Articles with Errors</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-3">
	  <a href="#">
	    <span class="glyphicon glyphicon-cog"></span>
	    <div class="text-center">
	      <span class="val">2</span><br>
	      <span class="desc">Articles are in Progress</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-3">
	  <a href="#">
	    <span class="glyphicon glyphicon-hand-down"></span>
	    <div class="text-center">
	      <span class="val">2</span><br>
	      <span class="desc">Articles require User Input<br>(Ready to Publish)</span>
	    </div>
	  </a>
	</div>
	<div class="col-sm-3">
	  <a href="#">
	    <span class="glyphicon glyphicon-time"></span>
	    <div class="text-center">
	      <span class="val">3</span><br>
	      <span class="desc">Articles are Scheduled</span>
	    </div>
	  </a>
	</div>
</div>