<section class="uir">
    <span class="glyphicon glyphicon-hand-down pull-left"></span>
    <h4>User Input Required <small>(2 Articles)</small><br>(Ready to Publish)</h4>
    <a href="#" class="btn btn-default">
      <span class="glyphicon glyphicon-globe"></span>
      Publish All Selected
    </a>
    {{> atoms-article-snapshot-list-act }}
</section>