<section class="uir">
    <span class="glyphicon glyphicon-hand-down mod pull-left"></span>
    <h4>User Input Required <small>(2 Articles)</small><br>(Ready to Publish)</h4>
    <button href="#" class="btn btn-default" id="publish-all" data-toggle="modal" data-target="#publish-modal" type="button">
      <span class="glyphicon glyphicon-globe"></span>
      Publish All Selected
    </button>
    {{> atoms-article-snapshot-list-act }}
</section>