<section class="uir-list" id="uir-list">
    <button href="#" class="btn btn-default publish-all btn-publish-queued" data-toggle="modal" data-target="#publish-modal" type="button">
      <span class="glyphicon glyphicon-globe"></span>
      Publish All Selected
    </button>
    {{> atoms-article-snapshot-list-uir }}
</section>