<div class="filter">
	<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="fa fa-filter"></span>
    Filter
  </a>
	<form class="dropdown-menu">
    <ul>
    	<li>
        <div class="filter-search input-group col-sm-8 col-sm-offset-2">
          <input type="text" name="keywords" class="form-control" placeholder="Enter keywords"/>
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-primary">Go</button>
          </span>
        </div>
  		</li>
  		<li>
  		  <ul class="filter-refine">
  	    	<li class="col-sm-2 col-md-2">
		    		<fieldset class="form-group">
			    		<legend>State</legend>
			    		<div class="checkbox">
							  <label><input type="checkbox" value="">POA</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">VOR</label>
							</div>
						</fieldset>
  	    	</li>
  	    	<li class="col-sm-2 col-md-2">
		    		<fieldset class="form-group">
		    			<legend>Stages</legend>
			    		<div class="checkbox">
							  <label><input type="checkbox" value="">Assembly</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Publish</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Downstream</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Archive</label>
							</div>
						</fieldset>
  	    	</li>
  	    	<li class="col-sm-2 col-md-2">
		    		<fieldset class="form-group">
	    				<legend>Status</legend>
			    		<div class="checkbox">
							  <label><input type="checkbox" value="">Complete</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">In Progress</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Not Started</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Error</label>
							</div>
						</fieldset>
  	    	</li>
  	    	<li class="col-sm-3 col-md-2">
		    		<fieldset class="form-group">
	    				<legend>Type</legend>
			    		<div class="checkbox">
							  <label><input type="checkbox" value="">Research Article</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Short</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Tool &amp; Resources</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Insight</label>
							</div>
						</fieldset>
  	    	</li>
  	    	<li class="col-sm-3 col-md-2">
		    		<fieldset class="form-group">
	    				<legend>Tags</legend>
			    		<div class="checkbox">
							  <label><input type="checkbox" value="">Press</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Home page</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Insight</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Related Articles(s)</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Series</label>
							</div>
							<div class="checkbox">
							  <label><input type="checkbox" value="">Unusual</label>
							</div>
						</fieldset>
  	    	</li>
  	    	<li class="col-md-2 date-range">
            <fieldset class="form-group">
    	    		<legend>Date range</legend>
        			<small class="custom-label">Start</small>
        	  	<div class="input-group date" id="datetimepicker-start">
                <input type="text" class="form-control" placeholder="DD-MM-YY"/>
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
             	</div>
             	<small class="custom-label">End</small>
        	  	<div class="input-group date" id="datetimepicker-end">
                <input type="text" class="form-control" placeholder="DD-MM-YY"/>
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
            	</div>
    					<div class="btn btn-sm btn-primary pull-left" id="search-refine-btn">Refine</div>
    					<div class="btn btn-sm btn-grey pull-right" id="search-reset-btn">Reset all</div>
            </fieldset>
  	    	</li>
  		  </ul>
    	</li>
    </ul>
  </form>
</div>