<section class="article-detail">
    <div class="actions">
        <a href="http://54.84.81.117/content/1/e00353v1" target="_blank" class="btn btn-default">
            <span class="fa fa-eye"></span>
            Preview
        </a>
        <button class="btn btn-default publish btn-publish" data-toggle="modal" data-target="#publish-modal"
                type="button" data-article-title="10.7554/eLife.00353" data-article-id="00353"
                data-article-version="2" data-article-run="1345f644-67ba-479d-8e54-65e7803c79c1">
            <span class="fa fa-globe"></span>
            Publish Now
        </button>
        <button class="btn btn-default schedule" id="schedule" data-toggle="modal" data-target="#schedule-modal"
                data-article-id="00353">
            <span class="fa fa-calendar"></span>
            Schedule
        </button>
    </div>
    <table class="snapshot">
        <tbody>
        <tr>
            <td class="column-1">
                <span class="glyphicon glyphicon-file vor"></span>
                <h6>10.7554/eLife.00353</h6>
                <p>A good life</p>
            </td>
            <td class="column-2">
                <dl>
                    <dt><i>Version:</i></dt>
                    <dd><strong>2</strong></dd>
                    <dt><i>Run:</i></dt>
                    <dd><strong>1</strong></dd>
                </dl>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="detail">
        <tbody>
        <tr>
            <td class="column-1">
                <dl>
                    <dt><i>Article type:</i></dt>
                    <dd>discussion</dd>
                    <dt><i>Publication date:</i></dt>
                    <dd>2012-12-13T00:00:00Z</dd>
                    <dt><i>Corresponding authors:</i></dt>
                    <dd>Eve Marder</dd>
                    <dt><i>Authors:</i></dt>
                    <dd>Version 2 Eve Marder</dd>
                </dl>
            </td>
        </tr>
        </tbody>
    </table>
</section>