<section class="article-detail">
	<div class="snapshot">
		<div class="column-1">
			<span class="glyphicon glyphicon-file poa"></span>
			<p>
			  <b>10.7554/eLife.04640</b><br>
			  Perturbation biology nominates upstream-downstream drug combinations in RAF inhibitor resistant melanoma cells
			</p>
		</div>
		<div class="column-2">
			<p>
			  <i>Version:</i> <strong>2</strong>
			</p>
			<p>
			  <i>Run:</i> <strong>3</strong>
			</p>
		</div>
		<div class="column-3">
			<p>
				<a href="#" class="btn btn-default">
				  <span class="glyphicon glyphicon-eye-open"></span>
				  Preview
				</a>
				<a href="#" class="btn btn-default">
				  <span class="glyphicon glyphicon-globe"></span>
				  Publish Now
				</a>
				<a href="#" class="btn btn-default">
				  <span class="glyphicon glyphicon-calendar"></span>
				  Schedule
				</a>
				<a href="#" class="btn btn-default hide">
				  <span class="glyphicon glyphicon-calendar"></span>
				  Re-Schedule
				</a>
				<a href="#" class="btn btn-default hide">
				  <span class="glyphicon glyphicon-calendar"></span>
				  Cancel Schedule
				</a>
			</p>
		</div>
	</div>
	<div class="detail">
		<div class="column-1">
			<p>
				<i>Article type:</i>
				<span>Research Article</span>
			</p>
			<p>
				<i>Publication date:</i>
				<span>28/04/2015</span>
			</p>
			<p>
				<i>Corresponding authors:</i>
				<span>Ian T Baldwin, Max Planck, John Anderson, Thomas Peel, Allvar Gullstrand, Alexis Carrel, Charles Richet, Robert</span>
			</p>
			<p>
				<i>Authors:</i>
				<span>Bárány, Jules Bordet, Schack August Steenberg Krogh, Archibald Vivian Hill, Otto Fritz Meyerhof, Sir Frederick, Grant Banting, John James Rickard Macleod</span>
			</p>
		</div>
		<strong>Destinations</strong>
		<div class="column-2">
			<p>
				<i>eLife:</i>
				<span><a href="#">10.7554/eLife.04640</a></span>
			</p>
			<p>
				<i>PMC:</i>
				<span>Not yet available</span>
			</p>
			<p>
				<i>PubMed:</i>
				<span><a href="#">00333455</a></span>
			</p>
			<p>
				<i>PubRouter:</i>
				<span>Delivered</span>
			</p>
			<p>
				<i>Cengage:</i>
				<span><a href="#">21940</a></span>
			</p>
			<p>
				<i>Google Scholar:</i>
				<span>Registered</span>
			</p>
		</div>
	</div>
</section>