<section class="article-detail" id="article-08149">
    <table class="article-list">
        <tbody><tr class="article__row">
            <td class="article__col article__col__icon">
                        <span class="article__icon">
                            <span class="fa fa-file vor"></span>
                        </span>
            </td>
            <td class="article__col article__col__title">
                <h6 class="article-doi article__title">10.7554/eLife.08149</h6>
                <p>An extracellular biochemical screen reveals that FLRTs and Unc5s mediate neuronal subtype recognition in the retina</p>
            </td>
            <td class="article__col article__col__action">
                <dl>
                    <dt><i>Version:</i></dt>
                    <dd><strong>3</strong></dd>
                    <dt><i>Run:</i></dt>
                    <dd><strong>1</strong></dd>
                </dl>
            </td>
        </tr>
        </tbody></table>
    <div class="elf-well">
        <dl>
            <dt><i>Run id:</i></dt>
            <dd>2dbebfa6-01c5-49c9-9b18-fb2c9e03161f</dd>
        </dl>
        <dl>
            <dt><i>Article type:</i></dt>
            <dd>research-article</dd>
        </dl>
        <dl>
            <dt><i>Publication date:</i></dt>
            <dd>2015-12-02T00:00:00Z</dd>
        </dl>
        <dl>
            <dt><i>Corresponding authors:</i></dt>
            <dd>Woj M Wojtowicz</dd>
        </dl>
        <dl>
            <dt><i>Authors:</i></dt>
            <dd>Jasper J Visser, Yolanda Cheng, Steven C Perry, Andrew Benjamin Chastain, Bayan Parsa, Shatha S Masri, Thomas A Ray, Jeremy N Kay, Woj M Wojtowicz, Constance Cepko</dd>
        </dl>

    </div>
</section>