<section class="article-detail" id="article-00353">
    <table class="snapshot">
        <tbody>
        <tr>
            <td class="column-1">
                <span class="fa fa-file vor"></span>
                <h6 class="article-doi">10.7554/eLife.00353</h6>
                <p>A good life</p>
            </td>
            <td class="column-2">
                <dl>
                    <dt><i>Version:</i></dt>
                    <dd><strong>1</strong></dd>
                    <dt><i>Run:</i></dt>
                    <dd><strong>1</strong></dd>
                </dl>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="detail">
        <tbody>
        <tr>
            <td class="column-1">
                <dl>
                    <dt><i>Article type:</i></dt>
                    <dd>discussion</dd>
                    <dt><i>Publication date:</i></dt>
                    <dd>2012-12-13T00:00:00Z</dd>
                    <dt><i>Corresponding authors:</i></dt>
                    <dd>Eve Marder</dd>
                    <dt><i>Authors:</i></dt>
                    <dd>Eve Marder</dd>
                </dl>
            </td>
        </tr>
        </tbody>
    </table>
</section>