<div id="articleStats">
    <div class="section-map">

        <div class="col-sm-3">
            <a href="#error-list">
                {{>atoms-icon-error(class: 'pull-left lg')}}
            </a>
            <div class="text-center">
                <a href="#error-list">
                    <span class="val">1</span><br>
                    <span class="desc">Article with Errors</span>
                </a>
            </div>
        </div>

        <div class="col-sm-3">
            <a href="#inprogress-list">
                {{>atoms-icon-inprogress(class: 'pull-left lg')}}
            </a>
            <div class="text-center">
                <a href="#inprogress-list">
                    <span class="val">1</span><br>
                    <span class="desc">Article in Progress</span>
                </a>
            </div>
        </div>

        <div class="col-sm-3">
            <a href="#uir-list">
                {{>atoms-icon-uir(class: 'pull-left lg')}}
            </a>
            <div class="text-center">
                <a href="#uir-list">
                    <span class="val">1</span><br>
                    <span class="desc">Article requires User Input<br>(Ready to Publish)</span>
                </a>
            </div>
        </div>

        <div class="col-sm-3">
            <a href="#scheduled-list">
                {{>atoms-icon-scheduled(class: 'pull-left lg')}}
            </a>
            <div class="text-center">
                <a href="#scheduled-list">
                    <span class="val">1</span><br>
                    <span class="desc">Article Scheduled</span>
                </a>
            </div>
        </div>
    </div>


</div>