<div id="articleStats">
    <div class="article-stats">

        <div class="article-stats__section">

            <div class="stats__section__row">
                <div class="stats__section__icon">
                    <a href="#error-list" class="icon">
                        {{>atoms-icon-error(class: 'md')}}
                    </a>
                </div>
                <div class="stats__section__detail">
                    <a href="#error-list">
                        <span class="stats__section__val">1</span><br>
                        <span class="stats__section__desc">Articles with Errors</span>
                    </a>
                </div>
            </div>


        </div>

        <div class="article-stats__section">

            <div class="stats__section__row">
                <div class="stats__section__icon">
                    <a href="#in-progress-list" class="icon">{{>atoms-icon-inprogress(class: 'md')}}</a>
                </div>
                <div class="stats__section__detail">
                    <a href="#inProgress-list">
                        <span class="stats__section__val">1</span><br>
                        <span class="stats__section__desc">Articles are in Progress</span>
                    </a>
                </div>
            </div>


        </div>

        <div class="article-stats__section">

            <div class="stats__section__row">
                <div class="stats__section__icon">
                    <a href="#uir-list" class="icon">{{>atoms-icon-uir(class: 'md')}}</a>
                </div>
                <div class="stats__section__detail">
                    <a href="#uir-list">
                        <span class="stats__section__val">14</span><br>
                        <span class="stats__section__desc">Articles Ready to Publish<br>(Rrequire User Input)</span>
                    </a>
                </div>
            </div>


        </div>


        <div class="article-stats__section">

            <div class="stats__section__row">
                <div class="stats__section__icon">
                    <a href="#scheduled-list" class="icon">{{>atoms-icon-uir-vr(class: 'md')}}</a>
                </div>
                <div class="stats__section__detail">
                    <a href="#scheduled-list">
                        <span class="stats__section__val">5</span><br>
                        <span class="stats__section__desc">Reason for Version <br>(Require User Input)</span>
                    </a>
                </div>
            </div>
 

        </div>
        
        <div class="article-stats__section">

            <div class="stats__section__row">
                <div class="stats__section__icon">
                    <a href="#scheduled-list" class="icon">{{>atoms-icon-scheduled(class: 'md')}}</a>
                </div>
                <div class="stats__section__detail">
                    <a href="#scheduled-list">
                        <span class="stats__section__val">5</span><br>
                        <span class="stats__section__desc">Articles Scheduled</span>
                    </a>
                </div>
            </div>


        </div>
        
        
        
    </div>

</div>
